<!-- <button class="backBtn" mat-flat-button [routerLink]="['/']">
  <mat-icon>arrow_back_ios_new</mat-icon>
  {{'BACKBTN' | oTranslate}}
</button> -->
<div class="back-category-container">
  <div class="back-category">
    <button class="backBtn" mat-flat-button [routerLink]="['/']">
      <mat-icon>arrow_back_ios_new</mat-icon>
      {{ "BACKBTN" | oTranslate }}
    </button>
    <div class="cat-container">
      <a class="category" href="/main">Home</a>
      <p>>&nbsp;&nbsp;&nbsp;&nbsp;</p>
       <span class="category">      
        {{ category.getValue() }}</span
      >
    </div>
  </div>
</div>

<div class="box">
  <o-form
    class="form"
    style="background-color: transparent"
    attr="toysDetail"
    service="toys"
    entity="toy"
    keys="toyid"
    show-header-navigation="no"
    show-header="no"
    layout-direction="column"
    (onDataLoaded)="onFormDataLoaded($event)"
  >
    <!-- hidden inputs for data recovery -->
    <o-text-input
      #toyId
      attr="toyid"
      oHidden
      sql-type="INTEGER"
      enabled="yes"
    ></o-text-input>
    <o-text-input
      #usr_id
      attr="usr_id"
      sql-type="INTEGER"
      enabled="yes"
      oHidden
    ></o-text-input>
    <o-text-input
      #category
      attr="category"
      fxFlex="100"
      read-only="yes"
      oHidden
    ></o-text-input>
    <o-text-input
      #nameInput
      attr="name"
      fxFlex="100"
      read-only="yes"
      oHidden
    ></o-text-input>
    <o-currency-input
      #priceInput
      attr="price"
      fxFlex="100"
      read-only="yes"
      min-decimal-digits="2"
      max-decimal-digits="2"
      oHidden
    ></o-currency-input>
    <o-text-input
      #shipping
      attr="shipping"
      fxFlex="100"
      read-only="yes"
      oHidden
    ></o-text-input>
    <o-textarea-input
      #descInput
      attr="description"
      fxFlex="100"
      read-only="yes"
      oHidden
    ></o-textarea-input>
    <o-email-input
      #emailInput
      attr="email"
      fxFlex="100"
      read-only="yes"
      oHidden
    ></o-email-input>
    <o-text-input
      #latitude
      attr="latitude"
      fxFlex="100"
      read-only="yes"
      oHidden
    ></o-text-input>
    <o-text-input
      #longitude
      attr="longitude"
      fxFlex="100"
      read-only="yes"
      oHidden
    ></o-text-input>

    <!-- main column  -->
    <o-column style="background-color: transparent">
      <div fxLayoutGap="10px" fxLayout="row" class="toys-detail-column">
        <o-column fxFlex="70" class="image-col">

          <!-- image  -->
          <o-image
            class="image-container"
            auto-fit="yes"
            height="600px"
            attr="photo"
            read-only="yes"
            empty-image="assets/images/no-image.png"
            sql-type="OTHER"
            show-controls="no"
          ></o-image>

          <!-- buy button  -->
          <div
            *ngIf="usr_id.getValue() != undefined; else unRegisteredUser"
            class="checkout-container"
          >
            <button class="jk-light-btn" (click)="checkout()">
              <span>{{ "BUY" | oTranslate }}</span>
            </button>
          </div>

          <!-- contact seller  -->
          <ng-template #unRegisteredUser>
            <div class="checkout-container">
              <button class="jk-light-btn">
                <a class="mail-to-seller" href="mailto:{{ emailInput.getValue() }}
                ?Subject=¡Quiero tu juguete {{ nameInput.getValue() }} de JUKIDS!
                &body=Hola!%20Me%20gustaría%20comprar%20tu%20juguete%20{{ nameInput.getValue() }}">
                  {{ "CONTACT_SELLER_BY_EMAIL" | oTranslate }}</a>
              </button>
            </div>
          </ng-template>
        </o-column>

        <o-column fxFlex="30" id="inf" class="inf-column">
          <div fxLayout="column" fxFlex="90" fxLayoutGap="20px" class="name-price-container">

            <!-- price + name + shipping -->
            <div fxLayout="column" class="price-name-ship">
              <o-row style="align-self: flex-start;" class="price"
              >{{ priceInput.getValue() }} <span>€</span></o-row>
              <o-row class="title">{{ nameInput.getValue() }}</o-row>
              <div class="shipping">
                <o-row class="title" >                  
                  <p *ngIf="shipping.getValue(); else noShipping" class="shippable">
                  ENVÍO DISPONIBLE
                </p>
                <ng-template #noShipping>
                  <p class="no-shippable">SÓLO VENTA EN PERSONA</p>
                </ng-template></o-row>
              </div>
            </div>

            <!-- description  -->
            <div class="description-field" id="desc">
              <o-row class="text longDescr">{{ descInput.getValue() }}</o-row>
            </div>

            <!-- email  -->
            <div fxFlex="20" id="mailid" class="email-container">
              <o-row style="background-color: transparent;">{{ emailInput.getValue() }}</o-row>
                <p style="font-size: small; color: #00000060;" *ngIf="(usr_id.getValue() == undefined)">AVISO* Este juguete ha sido subido por un usuario/a anónimo/a. 
                  No puedes comprarlo directamente en nuestra plataforma. Puedes ponerte en contacto con la persona que lo haya subido por email.</p>
            </div>
          </div>
        </o-column>
      </div>
    </o-column>

    <!-- map -->
    <o-column
      class="map-col"
      style="
        margin-top: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
      "
    >
      <div class="master-map-box">
        <div class="title-box">
          <h4>{{ "TOY_LOCATION" | oTranslate }}</h4>
        </div>

        <div class="map-box">
          <location-map attr="detailMap" #detailMap></location-map>
        </div>
      </div>
    </o-column>

  </o-form>
</div>

<app-stripe #stripe></app-stripe>
