.navigation-tree-container {
    display: flex;
    flex-direction: row;
    max-width: 960px;
    margin: auto;

    .back-category {
        width: 60%;
        display: flex;
        justify-content: flex-start;
        align-content: center;
        margin-bottom: 10px;

        @media screen and (max-width: 1200px) {
            width: 80%;
        }

        @media screen and (max-width: 600px) {
            width: 100%;
        }

        .category {
            scale: 100%;
            align-content: center;
            padding-right: 30px;
            font-weight: 400;
            height: 100%;
            color: #0000009c;
            font-size: 16px;
        }
    }
}

.box {
    max-width: 960px;
    display: flex;
    justify-content: center;
    justify-self: center;
    align-items: center;
    margin: auto;
    border-radius: 1em;
    height: fit-content;

    .toys-detail-column {
        margin-top: 10px;
        justify-content: space-between;
        background-color: transparent;
        grid-column-gap: 30px;
        overflow-x: hidden;

        @media screen and (max-width: 960px) {
            flex-direction: column !important;
            justify-self: center !important;

            o-column {
                max-width: 100% !important;
            }
        }

        .left-col {
            display: flex;
            flex-direction: column;
            justify-self: center;
            justify-content: space-between;
            align-items: center;
            width: fit-content;

            @media screen and (max-width: 960px) {
                width: 100%;
            }

            .div-img {
                max-height: 400px;

                .image {
                    scale: 1;
                    max-width: 95%;
                    overflow: hidden;
                    transition: 1s;
                    object-fit: cover;

                    @media screen and (max-width: 960px) {
                        height: 95%;
                        justify-self: center;
                        display: inline-block;
                        width: 80%;
                        padding: 0%;
                    }

                    &:hover {
                        transform: scale(1.05);
                        transition: 3s;
                    }
                }
            }

            .rating-div {
                display: flex;
                justify-content: flex-start;
                align-items: center;
                gap: .35rem;
                margin: 10px 0;
            }
        }

        .right-col {
            padding: 5px;
            width: 65%;
            display: flex;
            justify-content: space-between;
            flex-direction: column;
            border-radius: 5px;

            @media screen and (max-width: 960px) {
                margin-top: 15px;
                width: 100%;
                flex-direction: column-reverse;
            }

            .inf-column {
                height: 100%;
                display: flex;
                justify-content: space-between;
                margin-bottom: 24px;

                @media screen and (max-width: 960px) {
                    margin-top: 40px;
                }

                .inf-text {
                    margin-bottom: 15px;

                    @media screen and (max-width: 600px) {
                        margin-top: 10px;
                    }


                    .title {
                        font-size: 32px;
                        font-weight: bold;
                        text-transform: capitalize;
                        margin-bottom: 20px;
                    }

                    .description {
                        font-size: 16px;
                        height: fit-content;
                        margin-bottom: 10px;
                    }

                    .characteristics {
                        display: flex;
                        gap: 10px;

                        .shippable {
                            font-size: 12px;
                            font-weight: bold;
                            padding: 5px 8px;
                            border-radius: 3px;
                            color: white;
                            text-transform: uppercase;
                        }

                        .status {
                            background-color: #9b9b9b;
                        }
                    }

                    .price {
                        font-size: 32px;
                        font-weight: bold;
                        margin: 12px 0;

                        span {
                            padding-left: 5px;
                            font-size: 26px;
                            align-self: flex-end;
                        }
                    }
                }

                .email-container {
                    margin-top: 15px;
                }
            }

            .buttonBuy {
                min-width: 40%;

                @media screen and (max-width: 960px) {
                    width: 100%;
                }
            }
        }
    }
}

.container-border {
    border: 0.5px solid rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    padding: 5px;
    margin-top: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
}

button{
    margin: 0.5rem 0;
}

.link {
    color: #9b9b9b;
    font-size: small;
}
