<div class="user-profile-container">


    <!-- Main Info -->
    <div class="info-user">
        <h3>{{ 'MY_INFO' | oTranslate }}</h3>

        <o-form attr="infoUser" id="formUserDetail" service="userowner" entity="user" keys="usr_id" 
            layout-direction="column" show-header-navigation="no" show-header="no">
            <div class="container-user">
                <o-column fxFlex.gt-xs="35%" fxFlex="100">
                    <div class="user-info">
                        <div class="marco4">
                            <img class="image-header" src="{{baseUrl}}/restapi/get-image?userId={{mainInfo?.usr_id}}">
                        </div>
                    </div>
                </o-column>
                <o-column fxFlex.gt-xs="60%" fxFlex="100">
                    <o-text-input #usr_id attr="usr_id" sql-type="INTEGER" hidden="yes"></o-text-input>

                    <!-- User Details -->
                    <div class="user-detail">
                        <span>{{ 'name' | oTranslate }}:</span>
                        <span>{{ mainInfo?.usr_name }}</span>
                    </div>
                    <div class="user-detail">
                        <span>{{ 'usr_surname' | oTranslate }}:</span>
                        <span>{{ mainInfo?.usr_surname }}</span>
                    </div>
                    <div class="user-detail">
                        <span>{{ 'emailProfile' | oTranslate }}:</span>
                        <span>{{ mainInfo?.usr_login }}</span>
                    </div>
        
                    <!-- Rating -->
                    <div class="rating-div" *ngIf="varRating != 0; else noRating">
                        <div>{{ "mediaProfile" | oTranslate }} :</div> <div>{{ varRating }} / 5
                        <svg class="color-orange svg-star" xmlns="http://www.w3.org/2000/svg" width="16px" height="16px"
                            fill="currentColor" viewBox="0 0 16 16">
                            <path
                            d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z" />
                        </svg></div>
                    </div>
        
                    <ng-template #noRating>
                        <div class="no-rating">
                            {{ "noRating" | oTranslate }}
                        </div>
                    </ng-template>

                    <button class="button btn-solid button-edit" (click)="toMyEdit()">{{ 'EDIT_PROFILE' | oTranslate }}</button>
             
                </o-column>
            </div>
        </o-form>
    </div>

    <!-- Cards -->
    <div class="card-container">
        <div class="card user-profile-home-listcard" (click)="toToyList()">
            <img class="icon-image" src="assets/images/horsetoy.png">
            <h2>{{ 'MY_TOYS' | oTranslate }}</h2>
        </div>
        <div class="card user-profile-home-listcard" (click)="toBuyList()">
            <img class="icon-image" src="assets/images/shoppingbag.png">
            <h2>{{ 'PURCHASED_TOYS' | oTranslate }}</h2>
        </div>
        <div class="card user-profile-home-listcard" (click)="toMyRatings()">
            <img class="icon-image" src="assets/icons/star-fill.svg">
            <h2>{{ 'MY_RATINGS' | oTranslate }}</h2>
        </div>
    </div>
</div>
