.card-container :hover {
    scale: 102%;
}

.user-profile-home-listcard  {
    border-radius: 1.25em;
    box-shadow: -3px 3px 0px #ff5349;
    display: flex;
    flex-direction: row;
    height: 80px;
    width: 500px;
    background-color: white;
    border-radius: 5px;
}
.user-profile-home-listcard  :hover{
    scale: 100%;
}

.icon-image {
    align-self: center;
    width: 66px;
    height: 50px;
}
