<div class="user-profile-container">

    <!-- Cards -->
    <div class="card-container">
        <div class="card user-profile-home-listcard" (click)="toToyList()">
            <img class="icon-image" src="assets/images/horsetoy.png">
            <h2>{{ 'MY_TOYS' | oTranslate }}</h2>
        </div>
        <div class="card user-profile-home-listcard" (click)="toBuyList()">
            <img class="icon-image" src="assets/images/shoppingbag.png">
            <h2>{{ 'PURCHASED_TOYS' | oTranslate }}</h2>
        </div>
        <div class="card user-profile-home-listcard" (click)="toMyRatings()">
            <img class="icon-image" src="assets/icons/star-fill.svg">
            <h2>{{ 'MY_RATINGS' | oTranslate }}</h2>
        </div>
        <div class="card  user-profile-home-listcard" style="cursor: pointer;" routerLink="/main/user-profile/chats">            
            <img class="icon-image" src="assets/icons/chat-outline.svg">
            <h2>{{ 'MY_CHATS' | oTranslate }}</h2>
        </div>
    </div>
    
</div>