<div>
    <h2>{{ 'HELLO' | oTranslate }} {{this.userInfo.usr_name}}!</h2>
</div>

<div class="card-container">
    <div class="card user-profile-home-listcard" (click)="toToyList()">
        <img class="icon-image" src="assets/images/horsetoy.png">
        <h2 style="margin-bottom:0; align-self: center;">{{ 'MY_TOYS' | oTranslate }}</h2>
    </div>
    <div class="card  user-profile-home-listcard" (click)="toBuyList()">
        <img class="icon-image" src="assets/images/shoppingbag.png">
        <h2 style="margin-bottom:0; align-self: center;">{{ 'PURCHASED_TOYS' | oTranslate }}</h2>
    </div>
</div>
