.user-profile-container {
  max-width: 800px;
  margin: auto;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;

  .info-user,
  .card-container {
    width: 100%;
    box-sizing: border-box;
   
  }

  .container-user{ 
    gap: 15px;
    @media screen and (max-width: 600px) { 
      display: inline-block !important; 
    } 
  }

  .user-info {
    display: flex;
    align-items: center;

    .marco4 {
      padding: 10px;
      background-color: #fff;
      //border: 2px solid #999;
      //box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
      //border-radius: 8px;

      .image-header {
        width: 70%;
        height: 60%;
        //max-width: 100%;
        object-fit: cover;
        //border-radius: 50%;
      }
    }
  }

  .alignColumn {
    margin-top: 15px;
  }


  .info-user {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;

    h3 {
      margin-top: 0;
    }

    .user-detail {
      display: flex;
      justify-content: space-between;
      padding: 10px 0;
      border-bottom: 1px solid #f0f0f0;
    }

    .rating-div,
    .no-rating {
        display: flex;
        align-items: center;
        justify-content: space-between;
      padding: 10px 0;
    }

    .button-edit {
      margin-top: 45px;
    }
  }

  .svg-star{
    margin-left: 5px;
  }

  .card-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    gap: 15px;
    padding: 0!important;

    .card {
      background-color: #ffffff;
      padding: 20px;
      border-radius: 8px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      text-align: center;
      cursor: pointer;
      transition: transform 0.2s;
      flex: 1;
      //margin: 0 10px;
      min-width: 0; // Ensure cards don't overflow

      span{
        font-size: 18px;
        font-weight: bold;
      }

      .icon-image {
        width: 75px;
        height: 75px;
        margin: 0 auto; // Esto centrará los iconos horizontalmente
        display: block; // Asegura que los márgenes automáticos se apliquen correctamente
        margin-bottom: 10px;
      }


      // Media Query para ocultar el texto en resoluciones menores a 750px
      @media (max-width: 750px) {
        span {
          display: none;
        }
      }

      // Media Query para reducir el tamaño de las tarjetas y su contenido en resoluciones menores a 450px
      @media (max-width: 450px) {
        padding: 10px; // Ajusta el espacio interior de las tarjetas
        font-size: 0.8rem; // Reduce el tamaño de fuente del texto dentro de las tarjetas

        .icon-image {
          width: 40px; // Reduce el tamaño de los iconos
          height: 40px; // Reduce el tamaño de los iconos
          margin-bottom: 5px; // Ajusta el espacio entre los iconos y el texto
        }
      }
      &:hover {
        transform: scale(1.05);
      }
    }
  }
}
