
.card-container{
    display: flex;
    gap: 15px;
}

.user-profile-home-listcard  {    
    width: fit-content;
    padding: 0.75rem;
}

.user-profile-home-listcard  :hover{
    scale: 100%;
}


.icon-image {
    align-self: center;
    width: 50px;
    height: 40px;
}
