<mat-tab-group fxFill>

  <mat-tab label="Pendientes de llegada">
    <span>Aquí van los estado 2: </span>
    <span style="color:red">OJO!! Cambiar cambiar entidad</span>
    <o-table #tableReceived fxFlex attr="tableReceived" service="shipments" entity="shipmentReceived"
      title="{{ 'RECEIVED_TOYS' | oTranslate }}" columns="toyid;name;price;photo" visible-columns="photo;name;price;edit-btn"
      show-title="true" pagination-controls="no" show-filter-option="no" quick-filter="false" insert-button="false"
      export-button="false" delete-button="false" edit-button="false" refresh-button="false" horizontal-scroll="true"
      virtual-scroll="no" auto-adjust="true" class="table">
      
      <!--<o-table-column attr="toyid" multiline="no" min-width="400px" max-width="500px" tooltip="yes"></o-table-column>-->

      <o-table-column attr="photo" orderable="no" searchable="no" width="64px">
        <o-table-cell-renderer-image image-type="base64" empty-image="assets/images/no-image.png" avatar="yes">
        </o-table-cell-renderer-image>
      </o-table-column>
      <o-table-column attr="name" title="{{ 'name' | oTranslate }}" multiline="no" width="300px"
        tooltip="yes"></o-table-column>
      <o-table-column attr="price" title="{{ 'price' | oTranslate }}" multiline="no" width="300px"
        tooltip="yes"></o-table-column>
      <o-table-column class="button buttonLightBackground" attr="edit-btn" title="{{ 'CONFIRM' | oTranslate }}"
        width="64px">
        <o-table-cell-renderer-action attr="edit" class="action" (onClick)="checkReceive($event)"
          text="Recibido"></o-table-cell-renderer-action>
      </o-table-column>
    </o-table>

  </mat-tab>
  j
  <mat-tab label="Recibidos">
    <span style="color:red">OJO!! Falta actión de boton (pasar a estado 4)</span>

    <o-table #tableReceived fxFlex attr="tableReceived" service="shipments" entity="pendingReceive"
      title="{{ 'RECEIVED_TOYS' | oTranslate }}" columns="toyid;name;price;photo" visible-columns="photo;name;price;edit-btn"
      show-title="true" pagination-controls="no" show-filter-option="no" quick-filter="false" insert-button="false"
      export-button="false" delete-button="false" edit-button="false" refresh-button="false" horizontal-scroll="true"
      virtual-scroll="no" auto-adjust="true" class="table">

      <o-table-column attr="photo" orderable="no" searchable="no" width="64px">
        <o-table-cell-renderer-image image-type="base64" empty-image="assets/images/no-image.png" avatar="yes">
        </o-table-cell-renderer-image>
      </o-table-column>
      <o-table-column attr="name" title="{{ 'name' | oTranslate }}" multiline="no" width="300px"
        tooltip="yes"></o-table-column>
      <o-table-column attr="price" title="{{ 'price' | oTranslate }}" multiline="no" width="300px"
        tooltip="yes"></o-table-column>
      <o-table-column class="button buttonLightBackground" attr="edit-btn" title="{{ 'RECEIVED' | oTranslate }}"
        width="64px">
        <o-table-cell-renderer-action attr="edit" class="action" (onClick)="checkOk($event)"
          text="Confirmar"></o-table-cell-renderer-action>
      </o-table-column>
    </o-table>

  </mat-tab>

  <mat-tab label="Historial de compras">
    <span>Aquí van los estado 4: </span>
    <span style="color:red">OJO!! Cambiar cambiar entidad</span>
    <o-table #tableReceived fxFlex attr="tableReceived" service="shipments" entity="shipmentReceived"
      title="{{ 'RECEIVED_TOYS' | oTranslate }}" columns="toyid;name;price;photo" visible-columns="photo;name;price"
      show-title="true" pagination-controls="no" show-filter-option="no" quick-filter="false" insert-button="false"
      export-button="false" delete-button="false" edit-button="false" refresh-button="false" horizontal-scroll="true"
      virtual-scroll="no" auto-adjust="true" class="table">
      <o-table-column attr="photo" orderable="no" searchable="no" width="64px">
        <o-table-cell-renderer-image image-type="base64" empty-image="assets/images/no-image.png" avatar="yes">
        </o-table-cell-renderer-image>
      </o-table-column>
      <o-table-column attr="name" title="{{ 'name' | oTranslate }}" multiline="no" width="300px"
        tooltip="yes"></o-table-column>
      <o-table-column attr="price" title="{{ 'price' | oTranslate }}" multiline="no" width="300px"
        tooltip="yes"></o-table-column>      
    </o-table>
  </mat-tab>

</mat-tab-group>