mat-card-header mat-card-title{
    /* width: max-content; */
    height: fit-content;
    min-width: max-content;
}

.table{
    border-radius:  1em;
    padding: 0.75em;
    padding-bottom: 0;
}

.navigation-tree-container {
    display: flex;
    justify-content: center;
    flex-direction: row;
    height: 40px;
    margin-bottom: 10px;
}

.back-category {
    width: 100%;
    background-color: rgba(227, 227, 227, 0.407);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    border-radius: 8px;
}

.category {
    scale: 100%;
    align-content: center;
    padding-right: 30px;
    font-weight: 400;
    height: 100%;
    color: #0000009c;
}