
<o-table #table fxFlex attr="toysList"service="toyowner" entity="toy" keys="toyid" 
title="{{ 'MY_TOYS' | oTranslate }}"
columns="toyid;name;description;price;photo" visible-columns="photo;name;description;price" 
sort-columns="name" query-on-init="true" quick-filter="true" filter-case-sensitive="false"
insert-button="false"  delete-button="false" export-button="false" edit-button="false" refresh-button="false" show-buttons-text="false"
controls="true" show-title="true" select-all-checkbox="false"  pagination-controls="no" 
horizontal-scroll="false" virtual-scroll="no" auto-adjust="true" show-charts-on-demand-option="no" class="table">

  <o-table-columns-filter columns="name;description;price"></o-table-columns-filter>

  <o-table-column attr="toyid" multiline="no" min-width="400px" max-width="500px" tooltip="yes"></o-table-column>
  <o-table-column attr="photo" orderable="no" searchable="no" width="100px">
    <o-table-cell-renderer-image image-type="base64" empty-image="assets/images/no-image.png" avatar="yes"> </o-table-cell-renderer-image>
  </o-table-column>
  <o-table-column attr="name" title="Name" multiline="yes" min-width="400px" max-width="500px" tooltip="yes"></o-table-column>
  <o-table-column attr="description" title="Description" multiline="yes" min-width="400px" max-width="500px" tooltip="yes"></o-table-column>
  <o-table-column attr="price" title="Price" multiline="no" width="300px" tooltip="yes"></o-table-column>
  <o-table-column attr="edit-btn" width="64px" (onClick)="openToyEdit($event)" >
    <button attr="edit" (onClick)="openToyEdit($event)" icon="edit"></button>
  </o-table-column>
</o-table>