.table {
    border-radius: 1em;
    padding: 0.75em;
    padding-bottom: 0;
}

.rowExpandable {
    max-width: 90%;
}

.dataBuyer {
    margin-bottom: 1.2rem;
}

.total {
    width: fit-content;
    margin: 0.5rem 0;
    padding: 0 1rem;
    border: 1px solid #d4d4d4;
    border-radius: .25rem;
}

.total-price {
    font-weight: 500;
}

.total-amount {
    font-weight: 600;
}

.list {
    margin-left: -100%;
  }

  .photo-container img {
    width: 100%;
    max-width: 6rem;
    height: 6rem;
    object-fit: cover;
    border-radius: 0.5rem;
  }

  .info-row {
    width: calc(100% - 6rem);
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .info-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    overflow: hidden;
  }

  .info-text {
    display: flex;
    flex-direction: column;
    gap: .75rem;
  }

  mat-card-subtitle {
    font-size: 1.1em;
    font-weight: 500;
  }

  .container-survey{
    width: fit-content;
    display: flex;
    place-content: center flex-end;
    align-items: center;
    box-sizing: border-box;
  }
  
  @media (max-width:640px) {
    .info-container {
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
    }

    .info-text {
      width: 100%;
    }
  }