/* You can add global styles to this file, and also import other style files */
.o-form-layout-manager {
  .o-form {
    form {
      height: 100%;

    }
  }
}

/* Form toolbar background color */
.o-form-toolbar .o-form-toolbar-header.mat-toolbar {
  background-color: transparent;
  padding: 0 54px
}


.o-column > div.o-container .o-container-scroll.o-container-gap,
.o-row > div.o-container .o-container-scroll.o-container-gap {
  padding: 15px;
}

.avatar.o-image {
  width: 200px;
  height: 200px;

  .o-image-content.o-image-auto-fit {
    .o-image-display-container {
      img {
        border-radius: 50%;
        aspect-ratio: auto 200/200;
        width: 200px;
        height: 200px;
      }
    }

    .o-image-form-field {
      position: absolute;
      bottom: -42px;
    }
  }
}

.register-container button{
  background-color: #ffcc99!important;
  border: 2px solid #ffa366!important;
  box-shadow: -3px 5px 0px #ff5349!important;
  color: #ff5349!important;
  border-radius: 1.5rem!important;
}

.register-container mat-icon{
  color: #ff5349!important;
}

.register-form{

  .mdc-text-field--filled:not(.mdc-text-field--disabled){
    background-color: transparent;
  }

  @media(max-width:450px) {
    button.mat-mdc-button-base.mat-mdc-outlined-button{
      height: 26px;
    }

    .o-form .o-form-toolbar button.mat-mdc-outlined-button,
    .ontimize-table.o-table .o-table-container .o-table-toolbar .buttons
    .o-table-button button.mat-mdc-outlined-button{
      padding: 0 10px;
    }

    button.mat-mdc-button-base.mat-mdc-button, button.mat-mdc-button-base.mat-mdc-unelevated-button,
     button.mat-mdc-button-base.mat-mdc-raised-button,
     button.mat-mdc-button-base.mat-mdc-outlined-button{
      min-width: 52px;
    }

  }
 .mat-grid-list {
      padding: 1rem;

      .mat-grid-tile{
        padding: 1rem;
      }
    }
 }
.o-app-sidenav .o-app-sidenav-menu-group:not([disabled=true]) a:hover,
.o-app-sidenav .o-app-sidenav-menu-item:not([disabled=true]) a:hover{
  background-color: #ffa366;
  border-left: 8px solid #e1193d;
}

.o-app-sidenav .o-app-sidenav-menu-group:not([disabled=true])
a.o-app-sidenav-viewer-sidenav-item-selected,
.o-app-sidenav .o-app-sidenav-menu-item:not([disabled=true]) a.o-app-sidenav-viewer-sidenav-item-selected {
  border-left: 8px solid #e1193d;
  background-color: #ffa366;
}

.o-app-sidenav .o-app-sidenav-sidenav .o-app-sidenav-menu-group-level-1
.o-app-sidenav-menu-item:not([disabled=true]) a:hover{
  background-color: #ffa366;
}

::-webkit-scrollbar-thumb{
  background-color: #ffa366;
}

::-webkit-scrollbar-track{
  display: none;
}

//Necesario para ocultar el boton sobrante en el formulario de editar juguete.
#formToyEdit {
  button[attr="update"]{
  display: none!important;
}

.noresize textarea{
  resize:none !important;
}

}

mat-toolbar {
  box-shadow: none !important;
}

.button{
  cursor: pointer;
  transition-duration: .2s;
  min-width: 3rem;
  border-radius: .4rem;
  border: 2px solid;
  margin: .5rem .25rem;
  padding: .2rem 1rem;

  //Categoria color

  &.buttonOrange{
    border-color: #FFA366;
    color: #000;       
    background-color: #FFA366; 
    padding: .5rem 1.2rem !important; 
  
    &:hover{
      box-shadow: 0 2px 4px #0000003d;
    }
  }

  &.buttonDarkBackground{  
    border-color: #fff;
    color: #fff;
    background-color: transparent;

    &:hover{
      color: #ff5349;
      background-color: #fff;
    }
  }

  &.buttonLightBackground{  
    border-color: #ff5349;
    color: #ff5349;  
    background-color: #fff;

    &:hover{
      color: #fff;
      background-color: #FFA366;
      border-color: #ffa366;      
    }
  }

  //Categoria contenido
  &.buttonIcon{
    padding: 0.2rem 0.3rem;
  }

}