//Definir colores como variables
$color-orange: #FD8F35;
$color-dark-orange: #D34A24;
$color-red: #F11F43;
$color-blue: #3C7F72;
$color-orange-bg: #FD8F3514;
$color-blue-bg: #3c807380;
$color-white: #fff;
$color-black: #000;

/* You can add global styles to this file, and also import other style files */
.o-form-layout-manager {
  .o-form {
    form {
      height: 100%;
    }
  }
}

/* Form toolbar background color */
.o-form-toolbar .o-form-toolbar-header.mat-toolbar {
  background-color: transparent;
  padding: 0 54px
}

.o-column>div.o-container .o-container-scroll.o-container-gap,
.o-row>div.o-container .o-container-scroll.o-container-gap {
  padding: 15px;
}

.avatar.o-image {
  width: 200px;
  height: 200px;

  .o-image-content.o-image-auto-fit {
    .o-image-display-container {
      img {
        border-radius: 50%;
        aspect-ratio: auto 200/200;
        width: 200px;
        height: 200px;
      }
    }

    .o-image-form-field {
      position: absolute;
      bottom: -42px;
    }
  }
}

//Necesario para ocultar el boton sobrante en el formulario de editar juguete.
#formToyEdit {
  button[attr="update"] {
    display: none !important;
  }

  .noresize textarea {
    resize: none !important;
  }

  .o-form-toolbar button:not([disabled]).o-form-toolbar-button.mat-mdc-button-base {
    color: $color-orange !important;
  }

  #saveButton .mat-mdc-button-persistent-ripple {
    width: 30px;
    left: 9px !important;
  }
}

//Quitar sombra cabecera formularios
mat-toolbar {
  box-shadow: none !important;
}

//Necesario para ocultar el icono de menu
o-app-header mat-icon {
  display: none !important;
}

//Cambiar tamaño mapa para toyDetail
app-toys-detail o-map {
  @media screen and (min-width: 960px) {
    height: 200px !important;
  }
}
app-toys-new .mat-mdc-form-field-flex, .ng-tns-c40-7 {

  &:hover {
    background: transparent;
  }
}

.mat-mdc-form-field-flex, .ng-tns-c40-12 {
  // Quitar color por defecto en o-image
  background: transparent !important;
}


