/* You can add global styles to this file, and also import other style files */
.o-form-layout-manager {
  .o-form {
    form {
      height: 100%;
   
    }
  }
}
.application-layout-content-wrapper{
  background-color: #ffcc99;

}
/* Form toolbar background color */
.o-form-toolbar .o-form-toolbar-header.mat-toolbar {
  background-color: transparent;
  padding: 0 54px
}


.o-column > div.o-container .o-container-scroll.o-container-gap,
.o-row > div.o-container .o-container-scroll.o-container-gap {
  padding: 15px;
}

.avatar.o-image {
  width: 200px;
  height: 200px;

  .o-image-content.o-image-auto-fit {
    .o-image-display-container {
      img {
        border-radius: 50%;
        aspect-ratio: auto 200/200;
        width: 200px;
        height: 200px;
      }
    }

    .o-image-form-field {
      position: absolute;
      bottom: -42px;
    }
  }
}

.register-container button{
  background-color: #ffcc99!important;
  border: 2px solid #ffa366!important;
  box-shadow: -3px 5px 0px #ff5349!important;
  color: #ff5349!important;
  border-radius: 1.5rem!important;
}

.register-container mat-icon{
  color: #ff5349!important;
}

.register-form{
  mat-toolbar {
      box-shadow: none !important;
  }
  .mdc-text-field--filled:not(.mdc-text-field--disabled){
    background-color: transparent;
  }

  @media(max-width:450px) {
    button.mat-mdc-button-base.mat-mdc-outlined-button{
      height: 26px;
    }

    .o-form .o-form-toolbar button.mat-mdc-outlined-button, 
    .ontimize-table.o-table .o-table-container .o-table-toolbar .buttons 
    .o-table-button button.mat-mdc-outlined-button{
      padding: 0 10px;
    }

    button.mat-mdc-button-base.mat-mdc-button, button.mat-mdc-button-base.mat-mdc-unelevated-button,
     button.mat-mdc-button-base.mat-mdc-raised-button, 
     button.mat-mdc-button-base.mat-mdc-outlined-button{
      min-width: 52px;
    }

  }

}


::-webkit-scrollbar-thumb{
  display: none;
}

::-webkit-scrollbar-track{
  display: none;
}