.admin-body{
  display: flex;
  justify-content: center;
  align-items: center;
}

.o-image{
  width: 13rem;
}

.graficas{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  background-color: #ECE3D8;
  padding: 1rem;
  border-radius: 0.8rem;
}

//La leyenda de la piechart es inaccesible, este div se superpone a ella y la oculta, es su unica funcion
.format-legend{
  height: 4rem;
  opacity: 1;
  background-color:#ECE3D8 ;
}

