.user-profile-container {
  max-width: 60%; /* Incrementado para permitir más espacio */
  min-width: 500px; /* Tamaño mínimo para evitar que sea demasiado pequeño */
  margin: auto;
  padding: 20px;
  font-family: Arial, sans-serif;
  overflow-x: hidden; /* Eliminar el scrollbar horizontal */
}

.header-user-profile {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f5f5f5;
  border-radius: 8px;
  margin-bottom: 10px;
  box-sizing: border-box;
}

.user-info {
  display: flex;
 // align-items: center;
}

.edit-profile-button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 8px 16px;
  border-radius: 4px;
  cursor: pointer;
}

.edit-profile-button:hover {
  background-color: #0056b3;
}

.info-user {
  background-color: #ffffff;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 10px;
  box-sizing: border-box;
}

.info-user h3 {
  margin-top: 0;
  margin-bottom: 10px;
}

.left-column {
  display: flex;
  flex-grow: 0;
  justify-content: center;
 
}

.right-column {
  flex-grow: 1;
  max-width: fit-content;
}

.user-detail {
  display: flex;
  justify-content: end;
  padding: 10px 0;
  border-bottom: 1px solid #f0f0f0;

}

.user-detail span {
  text-align: right;
  flex-basis: 10%;
  font-weight: bold;
  margin-right: 10px;
}

.user-detail o-text-input,
.user-detail o-password-input,
.user-detail o-email-input {
  flex-basis: 70%;
}

/* Add these styles to handle the image container and ensure it maintains its size */
.image-container {
  width: 150px; /* Set a fixed width for the image container */
  height: 150px; /* Set a fixed height for the image container */
  overflow: hidden; /* Ensure content that overflows is hidden */
 // border-radius: 50%; /* Optional: make the image container circular */
  display: flex;
  justify-content: center;
  align-items: center;
}

.image-container o-image {
  width: 100%; /* Ensure the image fits within the container */
  height: 100%; /* Ensure the image fits within the container */
  object-fit: cover; /* Ensure the image covers the container without stretching */
}
