.m-top-24 {
  margin-top: 24px;
}

.full-page {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  position: relative;
  overflow: hidden;

  .login-outer-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    overflow: auto;

    .login-bg-container {
      background-image: url('^assets/images/jukids_logo.webp');
      width: calc(100% - 640px);
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      position: relative;
      z-index: 1;

      &::before {
        content: "";
        display: block;
        position: absolute;
        z-index: -1;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background: rgba(0, 0, 0, .1);
        opacity: .8;
      }
    }

    .wrapp-login {
      width: 640px;
      min-height: 100%;

      .login-inner-container {
        width: 100%;
        background: linear-gradient(to right, #eae7db, #ea883a);
        form {
          padding: 16px;
          min-height: 600px;
          min-width: 368px;
        }

        .logo-container {
          width: 368px;
          height: 110px;

          img {
            max-height: 110px;
            max-width: 368px;
          }
        }

        .session-expired {
          text-align: center;
        }

        .login-title-container {
          margin-top: 64px;
        }

        .mat-mdc-text-field-wrapper {
          border-radius: 1.5rem;
          background-color: #fedac1;
          box-shadow: -3px 3px 0px rgba($color: #ff5349, $alpha: 1.0);
        }

        button {
          width: 100%;
          margin: 32px 0 0;
          height: 42px;
          font-size: 16px;
        }

        .btn-login {
          background-color: #ffcc99;
          border: 2px solid #ffa366;
          box-shadow: -3px 3px 0px rgba($color: #ff5349, $alpha: 1.0);
          color: #ff5349;
          border-radius: 1.5rem;
        }

        .dark_text {
          color: #c5c5c5;
          font-size: 9pt;
        }

        .login_info,
        .title_text {
          font-size: 14px;
        }

        .title_text {
          font-weight: bolder;
          color: #ff5349;
        }

        .slogan {
          color: #ff5349;
          text-align: center;
          padding: 2rem;
          font-weight: 800;
        }

        .text {
          font-size: 2rem;
          font-weight: normal;
        }
      }
    }
  }

  .footer-container {
    position: absolute;
    background-color: #ffcc99;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    padding: 20px;
    z-index: 2;
    display: flex;
    justify-content: center;
    margin: 0;

    div {
      height: 2rem;

      span {
        font-size: 1rem;
        padding: 0.8rem;
      }
    }
  }
}

@media (max-width: 576px) {
  .full-page {
    .login-outer-container {
      .wrapp-login {
        .login-inner-container {
          width: 100%;

          form {
            padding: 2rem;
            min-height: 600px;
            min-width: 300px;
          }
        }
      }
    }
  }
}

.login-title-container {
  text-align: center;
}





