<div class="base">
  <!-- Login Side -->
  <div class="login">

    <div class="close-modal" (click)="closeModal()">
      <mat-icon class="btn-close">close</mat-icon>
    </div>

    <div class="logo-header">
      <img src="assets/images/jukids_logo_no_background.png" alt="">
    </div>

    <ng-container *ngIf="!isRegistering">
      <div class="login-title-container" fxLayout="column">
        <h1 class="slogan">{{ 'SLOGAN' | oTranslate }}</h1>
        <p class="session-expired text" *ngIf="sessionExpired">{{ 'ERROR_SESSION_EXPIRED' | oTranslate }}</p>
        <span class="title_text">{{ 'LOGIN_TITLE' | oTranslate }}</span>
      </div>
      <form class="form" [formGroup]="loginForm" (ngSubmit)="login()">        
        <div fxLayout="column" fxLayoutGap="10px">          
          <mat-form-field fxFill class="search">
            <input matInput class="mat-input" #user placeholder="{{ 'usr_email' | oTranslate }}" id="username"
              [formControl]="userCtrl">
            <mat-error *ngIf="userCtrl.hasError('required')">
              {{ 'ERROR_USER_REQUIRED' | oTranslate }}
            </mat-error>
          </mat-form-field>
          <mat-form-field fxFill class="search" style="padding-bottom: 30px;">
            <input matInput class="mat-input" #password placeholder="{{ 'PASSWORD' | oTranslate }}" id="password"
              type="password" [formControl]="pwdCtrl">
            <mat-error *ngIf="pwdCtrl.hasError('required')">
              {{ 'ERROR_PASS_REQUIRED' | oTranslate }}
            </mat-error>
          </mat-form-field>
          <button class="button btn-solid" type="submit">{{ 'LOGIN' | oTranslate }}</button>
        </div>

      </form>

      <div>
        <p>{{ 'DONT_HAVE_ACCOUNT' | oTranslate }} <span class="link" (click)="register()">{{ 'SIGN_UP' | oTranslate
            }}</span></p>
      </div>
    </ng-container>

    <ng-container *ngIf="isRegistering">
      <app-register-user></app-register-user>
    </ng-container>
  </div>

  <!-- Logo Side -->
  <div class="logo">
    <img src="assets/images/jukids_logo_no_background.png" alt="">
  </div>
</div>

