.btn-container {
    margin: 0 0.5rem;
    background: none;
}

.collapsible-container{
background-color: #FDF8F5;

.collapsible-container-items {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}

&-items{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

}

.titleMap{
    margin: 1rem;
    margin-bottom: .5rem;
    color:rgba(0, 0, 0, 0.70);
}

.truncate {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

}

.custom-button {
    width: 35px;
    height: 35px;
}

.btn-outline-light {
    padding: 0 0.4rem !important;
    .icon {
        width: 1.5rem;
        height: 1.5rem;
    }
}