<o-form editable-detail="no" show-header="no">

  <o-column title="{{ 'SEARCH_BAR' | oTranslate }}">
    <o-row layout-align="space-between center">

      <o-text-input attr="name" read-only="no" fxFlex="100" label="Search"></o-text-input>


      <o-row layout-align="end center" class="btn-container">
        <o-button attr="filter" [oFilterBuilderQuery]="filterBuilder" type="RAISED" label="Search" class="filter-button" ></o-button>
        <o-button attr="clear" [oFilterBuilderClear]="filterBuilder" type="RAISED" label="Clear" class="filter-button"></o-button>
      </o-row>

    </o-row>
  </o-column>
  <o-filter-builder #filterBuilder attr="thefilter" filters="NAME:name;DESCRIPTION:name" [target]="toysGrid"
                    query-on-change="no" query-on-change-delay="500" [expression-builder]="createFilter"></o-filter-builder>
</o-form>

<div>
    <o-column-collapsible title="{{ 'VIEW_MAP' | oTranslate }}" appearance="legacy" expanded="no" icon="location_on" class="collapsible">
        <location-map></location-map>
    </o-column-collapsible>


    <o-grid #toysGrid attr="toysGrid" title="TOYS" service="toys" entity="toy" keys="toyid"
        columns="photo;name;price;latitude;longitude" query-rows="20" page-size-options="20"
        refresh-button="no"
        quick-filter="no" (onDataLoaded)="addLocation($event)" gutter-size="00px">
    <o-grid-item  *ngFor="let data of toysGrid.dataArray">
      <o-column layout-padding class="toy-card">
        <o-image class="img-toy" show-controls="false" enabled="false" read-only="true" [data]="data.photo"  style="margin-top:8px;"></o-image>
 
        <div class="body" style="padding: 0 1em;" fxLayout="column" fxLayoutAlign="start center">
          <h4 class="toy-title">{{ data.name }}</h4>
 
          <div fxLayout="row" fxLayoutGap=".5em">
            <div fxLayout="column" fxLayoutAlign="start center">
              <mat-icon>credit_card</mat-icon>
              <mat-icon *ngIf="data.location != null">connect_without_contact</mat-icon>
            </div>
            <div fxLayout="column" fxLayoutAlign="start start">
              <span>{{ data.price }} €</span>
              <span *ngIf="data.location != null">{{data.location}} Km</span>
            </div>
          </div>
        </div>
      </o-column>
    </o-grid-item>
  </o-grid>
</div>

