/* Estilos para la clase toyCard */
.toyCard {
    width: 20rem;
    height: 18rem;
    background-color: #f5f3f1ac;
    color: #333;
    font-family: Arial, sans-serif; 
    float: left;
    border: 0.125rem solid #ffa366; 
    box-shadow: 0.250rem 0.250rem 0.313rem #ff5439; 
}

.imagen{
    margin: 1rem;  
    max-width: 60%;
    max-height: 70%;
}


.toyCard span {
    color: #333;
    font-weight: bold; 

}

grid{
    background-color: #ff5439;
}


