* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.Toy {
    width: 100%;
    max-width: 90rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding-top: 1rem;
    margin: auto;

    &-title {
        display: flex;
        align-items: center;
        gap: .5rem;
    }

    &-h2 {
        font-size: 1.5rem;
        font-weight: bold;
    }
    &-svg {
        color: #3C7F72;
    }
}

.Form {
    width: 100%;

    &-row {

        &--fields {
            width: 100%;
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-template-areas: 'image information location';
            gap: .75rem;

            @media (max-width:1280px) {
                grid-template-columns: repeat(2, 1fr);
                grid-template-areas: 'image information'
                                     'location location'
                                     ;
            }

            @media (max-width:768px) {
                grid-template-columns: repeat(1, 1fr);
                grid-template-areas: 'image'
                                     'information'
                                     'location';
            }
        }

        &--buttons {
            display: flex;
            justify-content: flex-end;
            gap: 1rem;
            margin-top: 1.75rem;
        }
    }

    &-column {
        width: 100%;

        &--image {
            grid-area: image;
        }

        &--information {
            grid-area: information;
        }

        &--location {
            grid-area: location;

        }
    }

    &-subtitle {
        display: flex;
        flex-direction: column;
        gap: .5rem;
    }

    &-h3 {
       font-size: 1.125rem;
       font-weight: 600;
    }

    &-p {
       font-size: .75rem;
    }

    &-spec {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: .75rem;
        margin-top: 1rem;
        padding: .75rem;
        border: 1px solid #d1d1d1;
        border-radius: .25rem;
        max-height: 480px;

        .image {
            scale: 1;
            max-width: 95%;
            max-height: 95%;
            overflow: hidden;
            transition: 1s;
            object-fit: cover;
        }
        @media (max-width:768px) {
            max-height: 100%;
        }
    }

    &-group {

        &--priceAndCategory {
            display: flex;
            gap: .75rem;

            @media (max-width:640px) {
                width: 100%;
                flex-direction: column;
            }
        }

        &--status {
            width: 100%;
            display: flex;
            flex-direction: column;
        }
    }

    &-price {
        flex-grow: 1;
    }

    &-category {
        flex-grow: 1;
    }

    &-shipping {
       margin-top: .6rem;
    }
}

.btn-outline-light{
  padding: .5rem 1.2rem !important;
}
