<o-app-layout-header class="nav">
  <div class="nav-login">
    <div class="nav-left-side">
      <a class="title" href="/"><img src="assets/images/jukids_logo.png" width="100%"/></a>
      <a class="footer-links" href="/about/about-us">Sobre las personas</a>
    </div>
  </div>
</o-app-layout-header>

<div class="about-container">
  <div class="paragraph">
    <h3 class="left">¿Qué es <span>JUKIDS</span>?</h3>
    <p class="left">
      Es una plataforma de compraventa de juguetes nuevos y de segunda mano.
      JUKIDS pone en contacto a vendedores, compradores, tiendas especializadas
      y coleccionistas de cualquier parte del mundo.
    </p>
  </div>

  <div class="paragraph">
    <h3 class="left">¿Cómo <span>comprar</span> un juguete?</h3>
    <p class="left">
      ¡Es muy fácil! Cuando veas un juguete que te guste puedes ver más
      información sobre él haciendo click encima y podrás ver su descripción, su
      estado de conservación y si el envío a domicilio está disponible. También
      podrás ver dónde está ubicado, por si prefieres comprarlo en persona. Si
      todo está a tu gusto, ¡dale al botón de pagar y listo!
    </p>
  </div>

  <div class="paragraph">
    <h3 class="left">
      ¿Cómo <span>contactar</span> con el vendedor o vendedora?
    </h3>
    <p class="left">
      ¿Tienes alguna duda? Puedes contactar con la persona que vende el juguete
      directamente por chat desde el detalle del juguete. También puedes
      enviarle un email si lo prefieres.
    </p>
  </div>

  <div class="paragraph">
    <h3 class="left">¿Cómo puedo <span>pagar</span> los juguetes?</h3>
    <p class="left">
      Puedes pagar con tarjeta de crédito desde la plataforma a través de
      nuestra pasarela de pago. También puedes quedar en persona con el vendedor
      o vendedora y pagar después de haber comprobado todo en directo. Puedes
      pagar en mano, aunque te recomendamos que pagues siempre a través de la
      web para aprovecharte de la garantía JUKIDS.
    </p>
  </div>

  <div class="paragraph">
    <h3 class="left">¿Qué es la <span>garantía</span> JUKIDS?</h3>
    <p class="left">
      Al pagar desde la pasarela de pago de JUKIDS disfrutas de la garantía que
      te ofrecemos en caso de que exista algún problema con el artículo o la
      persona que lo vende. Así JUKIDS se compromete a mediar con la persona que
      vende el producto en caso de conflicto.
    </p>
  </div>

  <div class="paragraph">
    <h3 class="left">
      ¿Por qué <span>aumenta</span> el precio al pagar en la web?
    </h3>
    <p class="left">
      A la hora de pagar a través de la plataforma podrás ver que el precio del
      juguete se incrementa en un pequeño tanto por ciento. Ese porcentaje va
      destinado a asumir los gastos de la pasarela de pago, a ofrecerte la
      garantía JUKIDS y al propio mantenimiento de la plataforma.
    </p>
  </div>

  <div class="paragraph">
    <h3 class="left">¿Cómo <span>vender</span> un juguete?</h3>
    <p class="left">
      Sólo tienes que registrarte y pulsar el botón de Vender juguete que se
      encuantra en la barra de navegación superior de JUKIDS. Completa un breve
      formulario con la información del juguete: precio, localización,
      descripción... sube una foto y ¡listo!
    </p>
  </div>
  <div class="paragraph">
    <h3 class="left">¿Qué hago después de <span>publicar</span> un juguete?</h3>
    <p class="left">
      Puedes ver tus juguetes a la venta y otra información desde tu perfil de
      usuario/a. Así podrás ver si tienes mensajes de posibles compradores/as,
      confirmar los envíos y ver el estado de los mismos, los ingresos que has
      generado con tus ventas, etc.
    </p>
  </div>
</div>
