<o-app-layout-header class="nav">
  <div class="nav-login">
    <div class="nav-left-side">
      <a class="title" href="/"><img src="assets/images/jukids_logo.png" width="100%"/></a>
      <a class="footer-links" href="/about/about-us">{{ 'ABOUT_US' | oTranslate }}</a>
    </div>
  </div>
</o-app-layout-header>


<!-- what is 1-->
<div class="about-container">
  <div class="paragraph">
    <h3 class="left">{{ 'ABOUT_JK_T1' | oTranslate }} <span>JUKIDS</span>?</h3>
    <p class="left">
      {{ 'ABOUT_JK_P1' | oTranslate }}
    </p>
  </div>

  <!-- how to buy 2-->
  <div class="paragraph">
    <h3 class="left">{{ 'ABOUT_JK_T2a' | oTranslate }} <span>{{ 'ABOUT_JK_T2b' | oTranslate }}</span> {{ 'ABOUT_JK_T2c' | oTranslate }}</h3>
    <p class="left">
      {{ 'ABOUT_JK_P2' | oTranslate }}
    </p>
  </div>
  
  <!-- hot to contact 3-->
  <div class="paragraph">
    <h3 class="left">
      {{ 'ABOUT_JK_T3a' | oTranslate }} <span>{{ 'ABOUT_JK_T3b' | oTranslate }}</span> {{ 'ABOUT_JK_T3c' | oTranslate }}
    </h3>
    <p class="left">
      {{ 'ABOUT_JK_P3' | oTranslate }}
    </p>
  </div>
  
  <!-- hot to pay 4-->
  <div class="paragraph">
    <h3 class="left">{{ 'ABOUT_JK_T4a' | oTranslate }} <span>{{ 'ABOUT_JK_T4b' | oTranslate }}</span> {{ 'ABOUT_JK_T4c' | oTranslate }}</h3>
    <p class="left">
      {{ 'ABOUT_JK_P4' | oTranslate }}
    </p>
  </div>
  
  <!-- guarantee 5-->
  <div class="paragraph">
    <h3 *ngIf="language == 'es'" class="left">{{ 'ABOUT_JK_T5a' | oTranslate }} <span> garantía </span>JUKIDS?</h3>
    <h3 *ngIf="language == 'en'" class="left">{{ 'ABOUT_JK_T5a' | oTranslate }} JUKIDS <span> {{ 'ABOUT_JK_T5b' | oTranslate }}</span>?</h3>
    <p class="left">
      {{ 'ABOUT_JK_P5' | oTranslate }}
    </p>
  </div>
  
  <!-- price rises 6-->
  <div class="paragraph">
    <h3 class="left">{{ 'ABOUT_JK_T6a' | oTranslate }} <span>{{ 'ABOUT_JK_T6b' | oTranslate }}</span> {{ 'ABOUT_JK_T6c' | oTranslate }}</h3>
    <p class="left">
      {{ 'ABOUT_JK_P6' | oTranslate }}
    </p>
  </div>
  
  <!-- how to sell 7-->
  <div class="paragraph">
    <h3 class="left">{{ 'ABOUT_JK_T7a' | oTranslate }} <span>{{ 'ABOUT_JK_T7b' | oTranslate }}</span> {{ 'ABOUT_JK_T7c' | oTranslate }}</h3>
    <p class="left">
      {{ 'ABOUT_JK_P7' | oTranslate }}
    </p>
  </div>

  <!-- what after posting 8-->
  <div class="paragraph">
    <h3 class="left">{{ 'ABOUT_JK_T8a' | oTranslate }} <span>{{ 'ABOUT_JK_T8b' | oTranslate }}</span> {{ 'ABOUT_JK_T8c' | oTranslate }}</h3>
    <p class="left">
      {{ 'ABOUT_JK_P8' | oTranslate }}
    </p>
  </div>
</div>
