<div #toyUndecided class="undecided">
  <div class="close-modal" (click)="close()">
    <mat-icon class="btn-close">close</mat-icon>
  </div>
    <h5 class="title-undecided">{{ 'UNDECIDED' | oTranslate }}</h5>
    <o-grid
        #undecidedGrid
        attr="undecidedGrid"
        service="orders"
        entity="reserved"
        keys="toyid"
        columns="toyid;name;price"
        query-rows="1"
        refresh-button="no"
        quick-filter="no"
        cols="1"
        gutter-size="0"
        grid-item-height="1:1.6"
        show-footer="no"
        controls="false"

  >
    <o-grid-item
      *ngFor="let data of undecidedGrid.getDataArray()"
    >
      <div class="card-undecided">
        <div (click)="openDetail(data.toyid)" class="img-container">
          <img class="image-header"
          src="{{ baseUrl }}/restapi/get-image?toyId={{ data.toyid }}"
        />
        </div>
        <div class="card-body">
          <h4>{{ data.name }}</h4>
          <p class="price">
            {{ data.price | number : "1.2-2" }}<span>€</span>
          </p>
        </div>
        <button class="button btn-outline-light undecided-btn" (click)="pay(data.toyid)">{{ 'BUY' | oTranslate }}</button>
    </div>
    </o-grid-item>
  </o-grid>
</div>