.nav {
  width: 100%;
}

.nav-login {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.nav-left-side {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.nav-right-side {
  display: flex;
  align-items: center;
}

.title {
  margin-left: 1rem;
  display: flex;
  align-items: center;
  color: #fff;
  font-size: x-large;
  cursor: pointer;
  width: 120px;
}



