.o-app-header {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.nav {
  width: 100%;
  display: flex;
}

.nav-login {
  padding: 0 0 0 1.25rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;

  @media screen and (max-width: 760px) {
    padding: 0 .25rem;
  }
}

.nav-left-side {
  display: flex;
  gap: .5rem;
  align-items: center;

  @media screen and (max-width: 760px) {
    display: none;
  }
}

.nav-center-side {
  display: flex;
  flex: 1 1 auto;
  margin: 0px 1rem;
  align-items: center;
  padding: .2rem .5rem;
  background-color: #fff;
  border-radius: 0.4rem;
  position: relative;

  &:has(.input-search:focus) {
    box-shadow: 0 0 2px #222;
  } 

  .input-search {
    flex: 1 1 auto;
    padding: .2rem .3125rem;
    border: none;
    border-radius: 0.4rem;
    font-size: 1em;
    outline: none;

    &::placeholder {
      color: #a5a5a5;
      //font-weight: 300;
    }

    @media screen and (max-width: 550px) {
      width: 6rem;

      &::-webkit-input-placeholder {
        /* WebKit browsers */
        font-size: .8rem;
      }

      &:-moz-placeholder {
        /* Mozilla Firefox 4 to 18 */
        font-size: .8em;
      }

      &::-moz-placeholder {
        /* Mozilla Firefox 19+ */
        font-size: .8em;
      }

      &:-ms-input-placeholder {
        /* Internet Explorer 10+ */
        font-size: .8em;
      }
    }

  }

  .clear-button,
  .search-button {
    background: none;
    border: none;
    cursor: pointer;
    color: #ccc;
  }

  .search-controls {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: .2rem;
    right: 5px;

    @media screen and (max-width: 550px) {
      top: .4rem;
    }
  }

  .search-icon {
    width: 1.5rem;
    height: 1.5rem;
    color: #ccc;
    transform: scaleX(-1);
  
    &:hover {
      color: #3C7F72;
      color: #FD8F35;
    }

      @media screen and (max-width: 550px) {
        width: 1.25rem;
        height: 1.25rem;
      }
  }
  
  .clear-icon {
    width: 1.5rem;
    height: 1.5rem;
    color: #ccc;
  
    &:hover {
      color: #F11F43;
    }

    @media screen and (max-width: 550px) {
      width: 1.25rem;
      height: 1.25rem;        
    }
  }
}

.nav-right-side {
  display: flex;
  align-items: center;
  gap: .25rem;
  @media screen and (max-width: 600px) {
  
  }
}

.title {
  display: flex;
  align-items: center;
  color: #fff;
  font-size: x-large;
  cursor: pointer;
  max-width: 100px;
}