<o-app-layout #appLayout show-language-selector="yes" mode="mobile">
  <o-app-layout-header class="nav">
    <div class="nav-login">
      <div class="nav-left-side">
        <p class="title" routerLink="/">JuKids</p>
      </div>
      <div class="searchBar">
        <o-form>
          <div class="search-container">
            <o-text-input  #searcherkey attr="searcherkey" read-only="no" fxFlex="100" label="{{ 'SEARCH_BAR' | oTranslate }}" icon="search" appearance="outline"></o-text-input>
            <button (click)="searchNameAndDescription()" class="search-button" type="RAISED">Buscar</button>
          </div>
        </o-form>
      </div>
      <div class="nav-right-side">
        <button *ngIf="validAdmin()" class="button btn-outline-dark" type="button" (click)="adminRedirect()">
          {{ 'ADMIN' | oTranslate }}
        </button>
        <button *ngIf="!isLogged()" class="button btn-outline-dark " type="button" (click)="modal('login')">
          {{ 'LOGIN' | oTranslate}}
        </button>
        <button class="button btn-outline-dark reverse" routerLink="/main/toys/new">
          {{ 'SELL_YOUR_TOY' | oTranslate}}
        </button>
      </div>
    </div>
  </o-app-layout-header>

  <o-user-info-configuration show-profile="no" show-settings="no">
    <o-user-info-configuration-item name="{{ 'MY_PROFILE' | oTranslate }}" icon="format_list_bulleted"
      route="/main/user-profile"></o-user-info-configuration-item>
  </o-user-info-configuration>
  <router-outlet></router-outlet>
</o-app-layout>

