<o-app-layout #appLayout show-language-selector="yes" mode="mobile">
  <o-app-layout-header class="nav">
    <div class="nav-login">
      <div class="nav-left-side">
        <p class="title" routerLink="/">JuKids</p>
      </div>
      <div class="nav-right-side">
        <button *ngIf="!isLogged()" class="btn-outline-dark " type="button" (click)="modal('login')">
          {{ 'LOGIN' | oTranslate}}
        </button>
        <button class="btn-outline-dark reverse" routerLink="/main/toys/new">
          Vende tu juguete
        </button>
      </div>
    </div>
  </o-app-layout-header>
  <o-user-info-configuration show-profile="no" show-settings="no" show-logout="no">
    <o-user-info-configuration-item name="{{ 'MY_PROFILE' | oTranslate }}" icon="format_list_bulleted"
      route="/main/user-profile"></o-user-info-configuration-item>
    <o-user-info-configuration-item name="{{ 'VIEW_MY_PRODUCTS' | oTranslate }}" icon="format_list_bulleted"
      route="/main/user-profile/toylist"></o-user-info-configuration-item> 
      <o-user-info-configuration-item name="{{ 'LOGOUT' | oTranslate }}" icon="logout"
      ></o-user-info-configuration-item> 
  </o-user-info-configuration>
  <router-outlet></router-outlet>
</o-app-layout>