.chat-container-body-disclaimer {
    text-align: center;
    font-weight: 600;
    // padding: .5rem ;


}

.progress-bar{
    display: flex;
    justify-content: center;
    gap: .5rem;
    margin: .5rem;
    font-weight: 600;

    mat-spinner {
        width: 100% !important;
        height: 100% !important;
    }
    .progress-spinner {
        width: 1rem;
        height: 1rem;
    }
}
