  <!--<o-form #form service="toys" entity="..." keys="ID" keys-sql-types="UUID" header-position="bottom"
  ... stay-in-record-after-insert="true" header-actions="R;I;U;D">

  <o-form show-header="yes" service="toys" entity="toy" keys="toyid">-->

    <!--<o-form
    show-header="yes"
      [service]="'toys'"
      [entity]="'toy'">
      <div fxLayout="row" fxLayoutGap="8px">
        <o-text-input fxFlex="15" attr="name"></o-text-input>
        <o-date-input fxFlex="15" attr="description" ></o-date-input>
        <o-text-input fxFlex="70" attr="dateadded"></o-text-input>
        <o-text-input fxFlex="70" attr="price"></o-text-input>
        <o-text-input fxFlex="70" attr="photo"></o-text-input>
    </div>
     <div fxFlex>
      <o-map #oMapBasic attr="basic-usage-map" center="42.240599, -8.720727" zoom="11" min-zoom="3" max-zoom="20" zoom-control="yes" search-control="no" fxFlex style="height: 500px;" (onClick)="onMapClick($event)" ></o-map>
    </div> 
    <button type="submit" (click)="onSubmitForm($event)">Enviar</button>
  </o-form>-->


  <div fxFlex>
    <o-map #oMapBasic attr="basic-usage-map" center="42.240599, -8.720727" zoom="11" min-zoom="3" max-zoom="20" zoom-control="yes" search-control="no" fxFlex style="height: 500px;" (onClick)="onMapClick($event)" ></o-map>
  </div>