
  <div class="contenedor">
    
    <div fxFlex>
      <o-map #oMapBasic attr="basic-usage-map" center="42.240599, -8.720727" zoom="11" min-zoom="3" max-zoom="20" zoom-control="yes" search-control="no" fxFlex style="height: 500px;" (onClick)="onMapClick($event)" ></o-map>
    </div>
   
    <o-form-layout-manager title="Toys" separator=" " mode="dialog" label-columns="toyid">
      <o-table attr="toys" service="toys" entity="toy" keys="toyid"
          columns="name;description;dateadded;price;photo;longitude;latitude"
          
          visible-columns="name;price;longitude;latitude;km"
          query-rows="20">
          <o-table-column attr="name" title="name" type="text"></o-table-column>
          <o-table-column attr="price" title="price" type="number"></o-table-column>
          <o-table-column attr="longitude" title="longitude" type="number"></o-table-column>
          <o-table-column attr="latitude" title="latitude" type="number"></o-table-column>
    
          <o-table-column-calculated attr="km" title="km"
              [operation-function]="calculateDistance" type="number" decimal-separator="," content-align="center">
          </o-table-column-calculated>
        </o-table>
        <div fxFlex>
          <o-map #oMapBasic attr="basic-map" center="42.240599, -8.720727" zoom="11" min-zoom="3" max-zoom="20" zoom-control="yes" search-control="no" fxFlex style="height: 500px;" (onClick)="managerClick($event)" ></o-map>
        </div>
    </o-form-layout-manager>
    
  </div>

