.banner-box {
    display: flex;
    position: relative;
    align-items: start;
    justify-content: center;
    gap: 15px;
    width: 100vw;

    .banner-background {
        position: absolute;
        width: 100%;
        height: 90%;
        background-color: #ff903714;
        z-index: 2;
    }
    
    .banner-svg {
        display: flex;
        align-items: start;
        justify-content: space-between;
        gap: 15px;
        width: 77%;
        z-index: 4;
    }
}

.categories-container {
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-items: center;
}

.grid-container {
    background-color: rgba(239, 239, 239, 0.543);
    border-radius: 10px;
}

.row-title {
    font-weight: bolder;
    color: rgb(0, 0, 0);
    padding-left: 1%;
}

.icon {
    margin-top: 10px;
    height: 50px;
    width: 50px;
    padding: 5px;
    background-color: rgba(224, 224, 224, 0.74);
    border-radius:15px;
    &:hover {
        transform: scale(1.1);
        transition: all;
        transition: 0.3s;
    }
}

.icons-container {
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}