.banner-box {
   display: flex;
}

.banner {
height: 200px;
}

.categories-container {
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-items: center;
}

.cat-row {
    display: flex;
    flex-direction: row;
    width: 100%;
    background-color: yellowgreen;
}