.banner-box {
    display: flex;
    position: relative;
    align-items: start;
    justify-content: center;
    gap: 15px;
    width: 100%;

    .banner-background {
        position: absolute;
        width: 100%;
        height: 90%;
        z-index: 2;
    }
    
    .banner-svg {
        display: flex;
        align-items: start;
        justify-content: space-between;
        gap: 15px;
        width: 77%;
        z-index: 4;

        img{
            width: 100%;
        }
    }
}

.title-box {
    display: flex;
    flex-direction: row;
    @media screen and (max-width: 550px) {
        margin-top: 20px;
        justify-content: space-between;
    }
}

.categories-container {
    margin-top: 20px;
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-items: center;

    @media screen and (max-width: 550px) {
        margin-top: 5px;
    }
}

.grid-container {
    background-color: rgba(239, 239, 239, 0.543);
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 10px;
}

.row-title {
    font-weight: bolder;
    color: rgb(0, 0, 0);
    padding-left: 1%;
    text-transform: uppercase;
    @media screen and (max-width: 550px) {
        display: none;
    }
}
.row-title-small {
    display: none;
    font-weight: bolder;
    color: rgb(0, 0, 0);
    padding-left: 1%;
    text-transform: uppercase;
    @media screen and (max-width: 550px) {
        display: contents;
    }
}

.icons-box{
    display: flex;
    flex-direction: column;
    width: 80%;
    max-height: fit-content !important;
    margin: auto;
    justify-items: center;
    align-items: center;
    @media screen and (max-width: 550px) {
        display: none;
    }
    .claim {
        width: fit-content;
        align-self: center;

        .category-search-claim {
            @media screen and (max-width: 800px) {
                display: none;
            }
        }
    }
    .smallcards-container {
        margin: auto;
        margin-top: 10px;
        width: 100%;
        display: flex;
        flex-direction: row;
        align-self: center;
        gap: 12px;
        justify-content: center;
        justify-items: center;
        height: fit-content;
        @media screen and (max-width: 550px) {
            display: grid;
            height: 60px;
            grid-template-columns: repeat(6,50px);  /* 3 columns */
            grid-template-rows: repeat(1,100px); /* 3 rows  */
            grid-gap:1px 1px; /* 50 pixels of space added between rows and 30 pixels added between columns  */
        }
        .smallcard {
            display: flex;
            width: 90px;
            height: 90px;
            align-self: center;
            flex-direction: column;
            align-items: center;
            justify-items: center;
            @media screen and (max-width: 800px) {
                width: 75px;
                height: 75px;
            }
            @media screen and (max-width:700px) {
                width: 55px;
                height: 55px;
            }
            @media screen and (max-width:600px) {
                width: 50px;
                height: 50px;
            }
            @media screen and (max-width: 500px) {
                width: 40px;
                height: 40px;
            }
            @media screen and (max-width: 450px) {
                width: 30px;
                height: 30px;
            }
            }
            .icon {
                height: 100%;
                width: 100%;
                padding: 3px;
                justify-self: center;
                align-self: center;
                background-color: rgba(224, 224, 224, 0.74);
                border-radius:15px;
                &:hover {
                    transform: scale(1.1);
                    transition: all;
                    transition: 0.3s;
                }
                @media screen and (max-width: 450px) {
                    padding: 6px;
                }
            }
            .icon-name{
                margin-top: 15px;
                font-size: smaller;
                text-align: center;
                align-self: center;
                @media screen and (max-width: 800px) {
                    display: none;
                }
            }
        }
    }


.anchor {
    margin-left: 10px;
    font-size: medium;
    color: #3c7f72;
    align-self: center;
    &:hover{
        text-decoration: underline;
        cursor: pointer;
        }
    align-self: center;
    @media screen and (max-width: 550px) {
        align-self: flex-end;
    }
}

.card {
    background-color: white;
}