<o-app-layout-header class="nav">
    <div class="nav-login">
        <div class="nav-left-side">
        <a class="title" href="/"><img src="assets/images/jukids_logo.png" width="100%"/></a>
        <a class="footer-links" href="/about/about-jukids">{{ 'ABOUT_JUKIDS' | oTranslate }}</a>
        </div>
    </div>
</o-app-layout-header>

<div class="about-container">
    <h3>{{ 'THE(F)' | oTranslate }} <span>{{ 'PEOPLE' | oTranslate }}</span> {{ 'BEHIND_JUKIDS' | oTranslate }}</h3>

    <div class="about-paragraphs">
        <p>{{ 'ABOUT_US_P1' | oTranslate }}</p>
        <p>{{ 'ABOUT_US_P2' | oTranslate }}</p>
        <p class="title-team">{{ 'ABOUT_US_P3' | oTranslate }}</p>
    </div>
    
    <div class="names-container-grid">
            <a href="https://www.linkedin.com/in/adrian-abal/">Adrián Abal</a>
            <a href="https://www.linkedin.com/in/emiliano-cagliari/">Emiliano Cagliari</a>
            <a href="https://www.linkedin.com/in/mrcolmeiro/">Miguel Colmeiro</a>
            <a href="https://www.linkedin.com/in/xurxo-fern%C3%A1ndez-a89807315/">Jorge Fernández</a>
            <a href="https://www.linkedin.com/in/javier-ferrad%C3%A1s-pacheco-609507197/">Javier Ferradás</a>
            <a href="https://www.linkedin.com/in/rodrigo-guido92/">Rodrigo Guido</a>
            <a href="https://www.linkedin.com/in/agnieszka-maciejewska-pl-es-en">Agnieszka Maciejewska</a>
            <a href="https://www.linkedin.com/in/jorgemunozw/">Jorge Muñoz</a>
            <a href="https://www.linkedin.com/in/miguelreiriz/">Miguel Reiriz</a>
            <a href="https://www.linkedin.com/in/maikel-rey-9145b3315/">Maikel Rey</a>
            <a href="https://www.linkedin.com/in/libertad-rodriguez-gonzalez/">Libertad Rodríguez</a>
            <a href="https://www.linkedin.com/in/miguel-rodríguez-674871261">Miguel Rodríguez</a>
            <a href="https://www.linkedin.com/in/sara-sequeiro-r%C3%ADo-a41037248/">Sara Sequeiro</a>
            <a href="https://www.linkedin.com/in/pablo-taibo-garc%C3%ADa-aa671412a/">Pablo Taibo</a>
            <a href="https://www.linkedin.com/in/cynthia-tieso-guimaraes-b34aa71a6/">Cynthia Tieso</a>
            <a href="https://es.linkedin.com/in/daniel-varela-4981ab316">Daniel Varela</a>
            <a href="https://www.linkedin.com/in/diego-vi%C3%B1a-78505321a/">Diego Viña</a>
    </div>
</div>