<o-app-layout-header class="nav">
    <div class="nav-login">
        <div class="nav-left-side">
        <a class="title" href="/"><img src="assets/images/jukids_logo.png" width="100%"/></a>
        </div>
    </div>
</o-app-layout-header>

<div class="about-container">
    <h3>Las <span>personas</span> detrás de JUKIDS</h3>

    <div class="about-paragraphs">
        <p>La herramienta más eficaz para construír el proyecto de JUKIDS ha acabado siendo el equipo humano que lo hemos hecho posible.</p>

        <p>Somos 17 personas con diferentes edades, trayectorias, formaciones y procedencia.</p>

        <p class="title-team">Este es y ha sido El Equipo Jukids</p>
    </div>
    <div class="names-container">
            <a href="">Adrián Abal</a>
            <a href="">Emiliano Cagliari</a>
            <a href="https://www.linkedin.com/in/mrcolmeiro/">Miguel Colmeiro</a>
            <a href="">Jorge Fernández</a>
    </div>
    <div class="names-container">
            <a href="">Javier Ferradás</a>
            <a href="">Rodrigo Guido</a>
            <a href="">Agnieszka Maciejewska</a>
            <a href="">Jorge Muñoz</a>
    </div>
    <div class="names-container">
            <a href="">Miguel Reiriz</a>
            <a href="">Maikel Rey</a>
            <a href="">Libertad Rodríguez</a>
            <a href="">Miguel Rodríguez</a>
    </div>
    <div class="names-container">
            <a href="">Sara Sequeiro</a>
            <a href="">Pablo Taibo</a>
            <a href="">Cynthia Tieso</a>
            <a href="">Daniel Varela</a>
            <a href="">Diego Viña</a>
    </div>
</div>