<o-app-layout-header class="nav">
    <div class="nav-login">
        <div class="nav-left-side">
        <a class="title" href="/"><img src="assets/images/jukids_logo.png" width="100%"/></a>
        </div>
    </div>
</o-app-layout-header>

<div class="about-container">
    <h3>Las <span>personas</span> detrás de JUKIDS</h3>

    <div class="about-paragraphs">
        <p>La herramienta más eficaz para construír el proyecto de JUKIDS ha acabado siendo el equipo humano que lo hemos hecho posible.</p>

        <p>Somos 17 personas con diferentes edades, trayectorias, formaciones y procedencia.</p>

        <p class="title-team">Este es y ha sido El Equipo Jukids</p>
    </div>
    <div class="names-container">
            <a href="https://www.linkedin.com/in/adrian-abal/">Adrián Abal</a>
            <a href="https://www.linkedin.com/in/emiliano-cagliari/">Emiliano Cagliari</a>
            <a href="https://www.linkedin.com/in/mrcolmeiro/">Miguel Colmeiro</a>
            <a href="https://www.linkedin.com/in/xurxo-fern%C3%A1ndez-a89807315/">Jorge Fernández</a>
    </div>
    <div class="names-container">
            <a href="https://www.linkedin.com/in/javier-ferrad%C3%A1s-pacheco-609507197/">Javier Ferradás</a>
            <a href="https://www.linkedin.com/in/rodrigo-guido92/">Rodrigo Guido</a>
            <a href="https://www.linkedin.com/in/agnieszka-maciejewska-pl-es-en">Agnieszka Maciejewska</a>
            <a href="https://www.linkedin.com/in/jorgemunozw/">Jorge Muñoz</a>
    </div>
    <div class="names-container">
            <a href="https://www.linkedin.com/in/miguelreiriz/">Miguel Reiriz</a>
            <a href="">Maikel Rey</a>
            <a href="https://www.linkedin.com/in/libertad-rodriguez-gonzalez/">Libertad Rodríguez</a>
            <a href="https://www.linkedin.com/in/miguel-rodríguez-674871261">Miguel Rodríguez</a>
    </div>
    <div class="names-container">
            <a href="https://www.linkedin.com/in/sara-sequeiro-r%C3%ADo-a41037248/">Sara Sequeiro</a>
            <a href="https://www.linkedin.com/in/pablo-taibo-garc%C3%ADa-aa671412a/">Pablo Taibo</a>
            <a href="https://www.linkedin.com/in/cynthia-tieso-guimaraes-b34aa71a6/">Cynthia Tieso</a>
            <a href="https://es.linkedin.com/in/daniel-varela-4981ab316">Daniel Varela</a>
            <a href="https://www.linkedin.com/in/diego-vi%C3%B1a-78505321a/">Diego Viña</a>
    </div>
</div>