<!-- <button class="backBtn" mat-flat-button [routerLink]="['/main/user-profile/toylist']">
  <mat-icon>arrow_back_ios_new</mat-icon>
  {{'BACKBTN' | oTranslate}}
</button> -->

<div class="title-container">
  <h2>{{ 'EDIT_OR_DELETE_YOUR_TOY' | oTranslate }}</h2>
</div>

<div class="box">
  <o-form class="form" attr="toysDetail" service="toyowner" entity="toy" keys="toyid" show-header-navigation="no"
    show-header="yes" fxLayout="column" header-actions="U;D" undo-button="no" (onDataLoaded)="onFormDataLoaded($event)" (onDelete)="redirectList()" (onUpdate)="redirectList()">
    <o-text-input attr="toyid" hidden="true" sql-type="INTEGER" enabled="yes"></o-text-input>

    <o-column>
      <div fxLayoutGap="25px" fxLayout="row" class="toys-detail-column">
        <o-column fxFlex="30" class="total-column">
          <o-image class="image-container" auto-fit="yes" attr="photo" read-only="no"
            empty-image="assets/images/no-image.png" sql-type="OTHER" show-controls="no"></o-image>
        </o-column>

        <o-column class="inf-column total-column">

          <div>
            <div>
              <o-text-input #nameInput attr="name" fxFlex="100" read-only="no"></o-text-input>
            </div>
            <div class="price">
              <o-currency-input #priceInput attr="price" fxFlex="100" read-only="no" min-decimal-digits="2"
                max-decimal-digits="2"></o-currency-input>
            </div>
          </div>

          <div fxLayout="row" fxLayoutGap="20px" class="toys-detail-column">
            <div fxFlex="60" class="total-column">
              <div>
                <p class="title">{{'TITLE_DESCRIPTION' | oTranslate}}</p>
                <div>
                  <o-textarea-input #descInput attr="description" fxFlex="100" read-only="no" class="descInput"></o-textarea-input>
                </div>
              </div>
              <div>
                <p class="title">{{'TITLE_CONTACT' | oTranslate}}</p>
                <div>
                  <o-email-input #emailInput attr="email" fxFlex="100" read-only="no"></o-email-input>
                </div>
              </div>
            </div>
            <div style="width: 100%;">
              <p class="title">{{'TITLE_MAP' | oTranslate}}</p>
              <div>
                <location-map (click)="handleMapClick($event)"></location-map>
              </div>
            </div>
          </div>

          <div>
            <o-real-input #longitude fxFlex="50" attr="longitude" decimal-separator="," max-decimal-digits="10"
              min-decimal-digits="0" required="yes" oHidden></o-real-input>
            <o-real-input #latitude fxFlex="50" attr="latitude" decimal-separator="," max-decimal-digits="10"
              min-decimal-digits="0" required="yes" oHidden></o-real-input>
          </div>

        </o-column>
      </div>
    </o-column>
  </o-form>
</div>