@use '@angular/material' as mat;
@use 'node_modules/ontimize-web-ngx/theming/ontimize-style.scss' as ontimize-style;

/* Breakpoints definitions */

// Definición de las media queries como variables
$breakpoint-small: '(max-width: 599.98px)';
$breakpoint-medium: '(min-width: 600px) and (max-width: 959.98px)';
$breakpoint-large: '(min-width: 960px) and (max-width: 1279.98px)';
$breakpoint-xlarge: '(min-width: 1280px) and (max-width: 1919.98px)';
$breakpoint-xxlarge: '(min-width: 1920px)';

//Definir colores como variables
$color-orange: #FD8F35;
$color-dark-orange: #D34A24;
$color-red: #F11F43;
$color-blue: #3C7F72;
$color-orange-bg: #FD8F3514;
$color-orange-bg-new: rgba(253, 143, 53, 0.12);
$color-red-bg: rgba(241, 31, 66, 0.8);
$color-blue-bg: hsla(169, 36%, 37%, 0.80);
$color-white: #fff;
$color-black: #000;


// Mixin para aplicar estilos según los breakpoints
@mixin respond-to($breakpoint) {
  @if $breakpoint ==small {
    @media #{$breakpoint-small} {
      @content;
    }
  }

  @else if $breakpoint ==medium {
    @media #{$breakpoint-medium} {
      @content;
    }
  }

  @else if $breakpoint ==large {
    @media #{$breakpoint-large} {
      @content;
    }
  }

  @else if $breakpoint ==xlarge {
    @media #{$breakpoint-xlarge} {
      @content;
    }
  }

  @else if $breakpoint ==xxlarge {
    @media #{$breakpoint-xxlarge} {
      @content;
    }
  }
}

/* Color definitions */
$mat-custom-primary: (
  50 : #f4e3e3,
  100 : #b9d1e4,
  200 : #8ab2d2,
  300 : #5b93c0,
  400 : #377bb3,
  500 : #1464a5,
  600 : #125c9d,
  700 : #0e5293,
  800 : #0b488a,
  900 : #063679,
  A100 : #a8c7ff,
  A200 : #75a7ff,
  A400 : #4286ff,
  A700 : #2876ff,
  contrast: (50 : #000000, 100 : #000000, 200 : #000000, 300 : #000000, 400 : #ffffff, 500 : #ffffff, 600 : #ffffff, 700 : #ffffff, 800 : #ffffff, 900 : #ffffff, A100 : #000000, A200 : #000000, A400 : #ffffff, A700 : #ffffff)
);

/* Color definitions */
$mat-custom-primary-dark: (
  50 : #f1f6fa,
  100 : #dce8f2,
  200 : #c5d9e9,
  300 : #adc9e0,
  400 : #9cbed9,
  500 : #8ab2d2,
  600 : #82abcd,
  700 : #77a2c7,
  800 : #6d99c1,
  900 : #5a8ab6,
  A100 : #ffffff,
  A200 : #ebf5ff,
  A400 : #b8dcff,
  A700 : #9ed0ff,
  contrast: (50 : #000000, 100 : #000000, 200 : #000000, 300 : #000000, 400 : #000000, 500 : #000000, 600 : #000000, 700 : #000000, 800 : #000000, 900 : #000000, A100 : #000000, A200 : #000000, A400 : #000000, A700 : #000000, )
);

// Define a theme.
$primary: mat.define-palette($mat-custom-primary);
$accent: $primary;
$primary-dark: mat.define-palette($mat-custom-primary-dark);
$accent-dark: $primary-dark;
$secondary-color: $color-white;

/* Light theme */
$theme: ontimize-style.o-mat-light-theme($primary, $accent);

/* Dark theme */
$dark-theme: ontimize-style.o-mat-dark-theme($primary-dark, $accent-dark);

/* Lato: CSS classes */
.lato-thin {
  font-family: "Lato", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.lato-light {
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.lato-regular {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.lato-bold {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.lato-black {
  font-family: "Lato", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.lato-thin-italic {
  font-family: "Lato", sans-serif;
  font-weight: 100;
  font-style: italic;
}

.lato-light-italic {
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.lato-regular-italic {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.lato-bold-italic {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-style: italic;
}

* {
  font-family: "Lato", sans-serif !important;
  /* Establece la tipografía para todo el texto - cambiado a Lato - según nuevo diseño */
}

.o-app-header nav {
  background-color: $color-orange;
}


div .navMenu,
div .sidenav-toggle-container,
.o-app-sidenav-menuitem,
nav {
  background-color: $color-orange
}

.mat-icon {
  font-family: 'Material Icons' !important;
}


.sidenav-toggle-container {
  .mat-icon {
    font-family: 'Material Icons' !important;
  }
}

//==================================== CLASS COLORS ====================================
.color-orange {
  color: $color-orange;
}

.color-dark-orange {
  color: $color-dark-orange;
}

.color-red {
  color: $color-red;
}

.color-blue {
  color: $color-blue;
}

.bg-color-orange {
  background-color: $color-orange;
}

.bg-color-dark-orange {
  background-color: $color-dark-orange;
}

.bg-color-orange-transparent {
  background-color: $color-orange-bg;
}

.bg-color-red {
  background-color: $color-red-bg;
}

.bg-color-blue {
  background-color: $color-blue-bg;
}


// Menu hamburguesa
.mat-sidenav-content {
  background-color: $color-white;

}

.navMenu {
  background-color: $color-orange;

}

// Cuadricula de juguetes
.o-grid {

  .div {
    position: relative;
  }
}

.o-grid .o-column {
  background-color: $color-white;
  color: #333;
  border-radius: .75rem;
  box-shadow: 0.1rem 0.1rem 0.15rem $color-orange;
  transition: transform .4s ease;

  &:hover {
    transform: scale(1.1);
  }

  .o-image {
    width: 16rem;
    height: 11rem;
    object-fit: contain;

    .o-image-content.o-image-auto-fit .o-image-display-container>img {
      border-radius: 10px;
    }
  }

  .h4 {
    margin: 0 0 .5rem 0;
  }
}

//==================================== CARD PRODUCT DESIGN ====================================
.grid-container {
  margin-bottom: 2em;
  min-width: 350px;
}

.grid-toys-search-container {
  margin: auto;
  width: 90%;
  min-height: 75%;
  min-width: 350px;
}

.card {
  position: relative;
  width: 95%;
  height: 95%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 10px;
  background-color: $color-orange-bg;
  color: #333;
  border-radius: .75rem;

  transition: all .2s ease;

  &:hover {
    box-shadow: 0px 0px 5px 0px $color-orange;

    .price {
      color: $color-orange;
    }
  }

  > {
    .image-header {
      width: 100%;
      height: 75%;
      min-height: 75%;
      border-radius: .75rem;
      object-fit: cover;

    }
  }

  .card-distance {
    position: absolute;
    top: 12px;
    left: 12px;
    z-index: 10;
    background-color: $color-white;
    border-radius: 0.75rem;
    padding: 10px;
    box-shadow: 0px 0px 5px 0px #5a5a5a;
  }

  .card-body {
    flex: 1 1 auto;
    padding: 1rem;
    justify-self: center;
    display: flex;
    justify-content: space-between;
    gap: 0.5rem;

    @include respond-to(small) {
      padding: 5px;
      flex-direction: column;
      justify-content: start;
    }

    @include respond-to(medium) {
      padding: 5px;
      flex-direction: column;
      justify-content: start;
    }

    @include respond-to(large) {
      padding: 5px;
      flex-direction: column;
      justify-content: start;
    }

    @include respond-to(xlarge) {
      padding: 5px;
      flex-direction: column;
      justify-content: start;
    }

    h4 {
      width: 70%;
      margin: 0;
      font-size: 1.1em;
      white-space: nowrap;
      overflow: hidden;

      @include respond-to(small) {
        width: 100%;
        font-size: 0.8em;
      }

      @include respond-to(medium) {
        width: 100%;
        font-size: 0.8em;
      }

      @include respond-to(large) {
        width: 100%;
        font-size: 1.05em;
      }

      @include respond-to(xlarge) {
        width: 100%;
        font-size: 1.05em;
      }
    }

    .price {
      margin: 0;
      font-size: 1.1rem;

      @include respond-to(small) {
        width: 100%;
        font-size: 0.8em;
      }

      @include respond-to(medium) {
        width: 100%;
        font-size: 0.8em;
      }

      @include respond-to(large) {
        width: 100%;
        font-size: 1.05em;
      }

      @include respond-to(xlarge) {
        width: 100%;
        font-size: 1.05em;
      }
    }
  }
}

.card-n {
  position: relative;
  width: 90%;
  height: 90%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: .5em .5em 0 .5em;
  background-color: white;
  color: #333;
  border: .1rem solid rgba(205, 204, 204, 0.638);
  border-radius: .6rem;
  transition: all .2s ease;

  &:hover {
    border: .1rem solid $color-orange;
  }

  > {
    .img-container {
      margin-top: .8rem;
      width: 100%;
      max-height: 80%;
      height: 80%;
      margin: 0;

      .image-header {
        width: 100%;
        border-radius: 7%;
        height: 100%;
        object-fit: cover;
      }
    }
  }

  .card-distance {
    position: absolute;
    top: 16px;
    right: 16px;
    z-index: 10;
    background-color: $color-orange;
    color: $color-white;
    font-weight: 550;
    border-radius: 0.65rem;
    padding: 10px;
  }


  .card-body {
    flex: 1 1 auto;
    justify-self: center;
    display: flex;
    padding: .4rem;
    flex-direction: column;
    justify-content: end;
    gap: 0.1rem;


    @include respond-to(small) {
      padding: 5px;
      flex-direction: column;
      justify-content: start;
    }

    @include respond-to(medium) {
      padding: 5px;
      flex-direction: column;
      justify-content: start;
    }

    @include respond-to(large) {
      padding: 5px;
      flex-direction: column;
      justify-content: start;
    }

    @include respond-to(xlarge) {
      padding: 5px;
      flex-direction: column;
      justify-content: start;
    }


    h4 {
      width: 100%;
      height: fit-content;
      margin: 0;
      font-weight: normal;
      font-size: 1.1em;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;

      @include respond-to(small) {
        width: 100%;
        font-size: 0.8em;
      }

      @include respond-to(medium) {
        width: 100%;
        font-size: 0.8em;
      }

      @include respond-to(large) {
        width: 100%;
        font-size: 1.05em;
      }

      @include respond-to(xlarge) {
        width: 100%;
        font-size: 1.05em;
      }

    }

    .price {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      margin: 0;
      height: fit-content;
      font-size: 1.1rem;
      color: #a5a5a5;

      @include respond-to(small) {
        width: 100%;
        font-size: 0.8em;
      }

      @include respond-to(medium) {
        width: 100%;
        font-size: 0.8em;
      }

      @include respond-to(large) {
        width: 100%;
        font-size: 1.05em;
      }

      @include respond-to(xlarge) {
        width: 100%;
        font-size: 1.05em;
      }

    }


  }

}

.card-undecided {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1em 1em 1em 1em;
  background-color: white;
  width: 100%;

  > {
    .img-container {
      margin-top: .8rem;
      margin-bottom: .2rem;
      max-height: 170px;
      height: 70%;
      margin: auto;

      .image-header {
        max-width: 100%;
        border-radius: 7%;
        height: 100%;
        object-fit: cover;
        max-height: 170px;
      }
    }
  }

  .card-distance {
    position: absolute;
    top: 16px;
    right: 16px;
    z-index: 10;
    background-color: $color-orange;
    color: $color-white;
    font-weight: 550;
    border-radius: 0.65rem;
    padding: 10px;
  }


  .card-body {
    flex: 1 1 auto;
    justify-self: center;
    display: flex;
    padding: .4rem;
    flex-direction: column;
    justify-content: end;
    gap: 0.1rem;


    @include respond-to(small) {
      padding: 5px;
      flex-direction: column;
      justify-content: start;
    }

    @include respond-to(medium) {
      padding: 5px;
      flex-direction: column;
      justify-content: start;
    }

    @include respond-to(large) {
      padding: 5px;
      flex-direction: column;
      justify-content: start;
    }

    @include respond-to(xlarge) {
      padding: 5px;
      flex-direction: column;
      justify-content: start;
    }


    h4 {
      width: 100%;
      height: fit-content;
      margin: 0;
      font-weight: normal;
      font-size: 1.1em;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;

      @include respond-to(small) {
        width: 100%;
        font-size: 0.8em;
      }

      @include respond-to(medium) {
        width: 100%;
        font-size: 0.8em;
      }

      @include respond-to(large) {
        width: 100%;
        font-size: 1.05em;
      }

      @include respond-to(xlarge) {
        width: 100%;
        font-size: 1.05em;
      }

    }

    .price {
      margin: 0;
      height: fit-content;
      font-size: 1.1rem;
      color: #a5a5a5;

      @include respond-to(small) {
        width: 100%;
        font-size: 0.8em;
      }

      @include respond-to(medium) {
        width: 100%;
        font-size: 0.8em;
      }

      @include respond-to(large) {
        width: 100%;
        font-size: 1.05em;
      }

      @include respond-to(xlarge) {
        width: 100%;
        font-size: 1.05em;
      }

    }


  }

}

//==================================== NEW BTN DESIGN ====================================
.button {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition-duration: .2s;
  min-width: 3rem;
  border-radius: .4rem;
  border: 2px solid;
  margin: .5rem .25rem;
  padding: .2rem 1rem;

  @include respond-to(small) {
    font-size: 0.8em;
    margin: 0;
    padding: 0.3rem;
  }

  //Categoria color
  &.btn-solid {
    border-color: $color-blue;
    color: $color-white !important;
    background-color: $color-blue;

    &:hover {
      box-shadow: 0 2px 4px #0000003d;
    }

    &.reverse {
      border-color: $color-orange;
      color: $color-black;
      background-color: $color-orange;
    }
  }


  &.btn-outline-dark {
    border-color: $color-white;
    color: $color-white;
    background-color: transparent;

    &:hover {
      color: $color-orange;
      background-color: $color-white;
    }

    &.reverse {
      color: $color-orange;
      background-color: $color-white;

    }
  }

  &.btn-outline-light {
    border-color: $color-blue;
    color: $color-blue;
    background-color: $color-white;

    &:hover {
      color: $color-white;
      background-color: $color-blue;
      border-color: $color-blue;
    }
  }

  &.btn-delete {
    border-color: $color-red;
    color: $color-white !important;
    background-color: $color-red;
    padding: .5rem 1.2rem !important;

    &:hover {
      box-shadow: 0 2px 4px #0000003d;
    }
  }

  //Categoria contenido
  &.btn-icon {
    padding: 0.2rem 0.3rem;
  }

}

// ==================================== Login Form ====================================
.base {
  width: 100%;
  height: 100%;
  border-radius: 2rem;
  display: flex;

  .login {
    width: 50%;
    background-color: $color-white;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin: 3rem;
    min-width: 465px;

    @include respond-to(small) {
      width: 100%;
      min-width: 0;
    }

    @include respond-to(medium) {
      width: 100%;
      min-width: 0;
    }

    @include respond-to(large) {
      width: 100%;
      min-width: 0;
    }


    .login-title-container {
      padding-bottom: 1rem;

      .slogan {
        color: $color-blue;
      }
    }

    .register-title-container {
      text-align: center;

      .slogan {
        color: $color-blue;
      }
    }

    .form {
      width: 40%;

      @include respond-to(small) {
        width: 100%;
      }

      @include respond-to(medium) {
        width: 80%;
      }

      @include respond-to(large) {
        width: 80%;
      }

      @include respond-to(xlarge) {
        width: 60%;
      }
    }

    .form-register {
      width: 100%;
      min-width: 0;
    }

    .mdc-text-field--filled:not(.mdc-text-field--disabled) {
      background-color: $color-white;
      color: rgba(0, 0, 0, 0.6);
      border: 0.5px solid rgba(0, 0, 0, 0.4);
    }
  }

}

.logo-header {
  display: none;

  img {
    display: inline-block;
    width: 100%;
  }

  @include respond-to(small) {
    display: inline-block;
    width: 50%;
  }

  @include respond-to(medium) {
    display: inline-block;
    width: 40%;
  }

  @include respond-to(large) {
    display: inline-block;
    width: 40%;
  }
}

.logo {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $color-orange-bg;
  height: 500px;
  min-width: 465px;

  img {
    width: 50%;
  }

  @include respond-to(small) {
    display: none;
  }

  @include respond-to(medium) {
    display: none;
  }

  @include respond-to(large) {
    display: none;
  }
}

.close-modal {
  width: 2rem;
  height: 2rem;
  position: absolute;
  top: 1rem;
  right: 1rem;
  cursor: pointer;

  .btn-close {
    width: 2rem;
    height: 2rem;
    font-size: 2rem;
    color: $color-red;
  }

}

.link {
  cursor: pointer;
  font-weight: 600;
  color: $color-orange;

  &:hover {
    text-decoration: underline;
  }
}

// ==================================== SEARCH FILTERS ====================================

.searchFilters {
  display: flex;
  align-items: center;
  gap: 5px;
  margin-top: 5px;
  padding: 5px 0px;

  @include respond-to(small) {
    flex-direction: column;
    align-items: flex-start;
    padding: 10px 0px;
    gap: 10px;
  }

  @include respond-to(medium) {
    flex-direction: column;
    align-items: flex-start;
    padding: 10px 0px;
    gap: 10px;
  }
}

// ==================================== CHAT COMPONENT DESIGN ====================================
.chat-container {

  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: #efe7dd;
  gap: 10px;
  box-sizing: border-box;
  overflow: hidden;
  border-radius: 0.75rem;


  .chat-container-header {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 0.75rem 0.5rem;
    box-sizing: border-box;
    background-color: #faf6f1;

    .jukids-logo {
      width: 70px;
      height: 70px;
      border-radius: 0.75rem;
      margin: 0px 10px;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 0.75rem;
      }
    }

    .header-title-info {
      display: flex;
      flex-direction: column;
      flex: 1 1 auto;
      gap: 5px;

      h4 {
        margin: 0px;
      }

      .price {
        font-size: 1.4em;
        font-weight: 600;
      }
    }
  }

  .chat-container-body {
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
    gap: 1rem;
    overflow-y: auto;

    // border-top: 2px solid rgb(0, 0, 0);
    .chat-message-container-receiver {
      width: 100%;
      // border: 1px solid green;
      border-radius: 0.75rem;

      .chat-message {
        display: flex;
        padding: 5px;

        .user-profile {
          width: 2.5rem;
          height: 2.5rem;
          display: flex;
          align-items: center;
          justify-content: center;
          background-color: transparent;
          border-radius: 50%;
          margin: 0.25rem;

          // @include respond-to(small) {
          //   width: 25%;
          // }
        }

        .message {
          width: 100%;
          display: flex;
          flex-direction: column;
          box-sizing: border-box;
          margin: 0 0.5rem 0.5rem 0;
          padding: 0.5rem;
          border-radius: 0 0.75rem 0.75rem 0.75rem;
          background-color: $color-white;
          border: 2px solid #ffa366;
          transform: translateY(1rem);

          .message-user-name {
            font-size: 0.9em;
            padding-bottom: 5px;
            font-weight: bold;
            color: $color-blue;
          }

          .message-date {
            font-size: 0.7em;
            margin-top: 0.4rem;
            margin-right: 0.4rem;
            color: #8b8b8b;
            text-align: end;
          }

        }
      }
    }

    .chat-message-container-sender {
      width: 100%;
      // border: 1px solid blue;
      // background-color: #49F18C;
      border-radius: 0.75rem;

      .chat-message {
        display: flex;
        flex-direction: row-reverse;
        justify-content: end;
        padding: 5px;

        .user-profile {
          width: 2.5rem;
          height: 2.5rem;
          display: flex;
          align-items: center;
          justify-content: center;
          background-color: transparent;
          border-radius: 50%;
          margin: 0.25rem;

        }

        .message {
          width: 100%;
          display: flex;
          flex-direction: column;
          box-sizing: border-box;
          margin: auto 0px;
          margin-left: 0.5rem;
          padding: 0.5rem;
          border-radius: 0.75rem 0 0.75rem 0.75rem;
          border: 2px solid #ffa366;
          background-color: #ffa366;
          transform: translateY(1rem);

          .message-user-name {
            font-size: 0.9em;
            padding-bottom: 5px;
            font-weight: bold;
            color: $color-blue;
            text-align: end;
          }

          .message-date {
            font-size: 0.7em;
            margin-top: 0.4rem;
            margin-right: 0.4rem;
            color: #8b8b8b;
          }
        }
      }
    }
  }

  .chat-container-footer {
    display: flex;
    align-items: center;
    padding: 0.75rem 0.5rem;
    box-sizing: border-box;
    background-color: #faf6f1;
    // border: 1px solid yellowgreen;

    .chat-input {
      width: 100%;
      margin: 5px;
      padding: 10px;
      border: 2px solid $color-blue;
      border-radius: 1.25rem;

      &:focus {
        outline: none;
      }

      &::placeholder {
        color: #8b8b8b;
      }
    }

    .chat-btn-send {
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: $color-blue;
      padding: 0.25rem;
      border: 1px solid $color-blue;
      border-radius: 50%;
      margin: 5px;
      transition-duration: 0.2s;

      .send-icon {
        width: 28px;
        color: $color-white;
      }

      &:hover {
        background-color: $color-white;
        border: 1px solid $color-blue;
        box-shadow: 0 2px 4px #0000003d;

        .send-icon {
          color: $color-blue;
        }
      }
    }
  }
}

.close-modal {
  width: 2rem;
  height: 2rem;
  position: absolute;
  top: 1rem;
  right: 1rem;
  cursor: pointer;

  @include respond-to(small) {
    top: 0;
    right: 0;
    border-radius: 0;
  }

  .btn-close {
    width: 2rem;
    height: 2rem;
    font-size: 1.5rem;
    color: $color-red;
  }
}

o-app-sidenav.o-app-sidenav .o-app-sidenav-container mat-sidenav.mat-drawer.o-app-sidenav-sidenav,
o-app-sidenav.o-app-sidenav.header-layout .o-app-sidenav-container mat-sidenav.mat-drawer.o-app-sidenav-sidenav {
  background: $color-orange;
}

// ==================================== BORDER MAP ====================================
o-map mat-sidenav-container {
  border-radius: 8px;
}

// ==================================== SCROLLBAR ====================================
* {
  scrollbar-width: thin;
  scrollbar-color: $color-orange $color-orange-bg;
}

.editProfile {
  color: #ffa366;
  background-color: #fff;
  border-radius: 0.4rem;
  border: 2px solid;
  padding: 0.2rem 1rem;

  ::-webkit-scrollbar-thumb {
    background-color: $color-orange;
  }
}

::-webkit-scrollbar-track {
  display: none;
}

.header-user-profile h2 {
  max-width: 15%;
}

.header-user-profile div {
  margin-left: 15rem;
  margin-top: -3rem;
  margin-bottom: 2rem;
}

.nameLong {
  display: inline-block;
  max-width: 100px;
  height: -moz-fit-content;
  height: fit-content;
  margin: 0;
  font-weight: 400;
  font-size: 1.1em;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

// ==================================== BREADCRUMB ====================================
.navigation-tree-container {
  display: flex;
  flex-direction: row;
  max-width: 960px;
  margin: auto;
  margin-bottom: 20px;


  .back-category {
    width: 60%;
    display: flex;
    justify-content: flex-start;
    align-content: center;
    margin-bottom: 10px;

    @include respond-to(xlarge) {
      width: 80%;
    }

    @include respond-to(medium) {
      width: 100%;
    }

    .category {
      scale: 100%;
      align-content: center;
      padding-right: 30px;
      font-weight: 400;
      height: 100%;
      color: #0000009c;
      font-size: 16px;
    }
  }
}

.footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 5em;
  align-items: center;
  height: 5em; 
  background-color: $color-orange;
  border-radius: 10px 10px 0 0;
  min-width: 4em;
  // border-radius: 0 0 10px 10px;
  .footer-links {
    color: #000000b0;
    text-decoration: none;
  }
  .logo-footer {
    height: 3em;
    @include respond-to(small) {
      display: none;
    }
  }
}

.about-container {
  display: flex;
  flex-direction: column;
  margin: auto;
  margin-top: 1em;
  align-self: flex-start;
  width: 60%;
  // height: 90%; liber
  h3{
    text-align: center;
  }
  p {
    text-align: center;
  }
  span {
    color: $color-orange;
  }
}

.left {
  text-align: left !important;
}

.right {
  text-align: right !important;
}

.names-container {
  margin-bottom: 1.5em;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 2em;
  height: 3em;

  a {
    color: #000;
    text-decoration: none;
    font-size: large;
    padding: .7em;
    align-self: center;
    border: 1px solid rgba(0, 0, 0, 0.587);
    border-radius: 10px;
    background-color: #dedede;
    &:hover {
      color: $color-white;
      border: 1px solid rgba(0, 0, 0, 0.587);
      border-radius: 10px;
      background-color: $color-blue-bg;
    }
  }
}

.about-paragraphs {
  margin-top: 2em;
  margin-bottom: 2.5em;
}

.paragraph {
  display: flex;
  flex-direction: column;
  margin-bottom: 3em;

  h3 {
    text-align: center;
    margin: 0 !important;
    span {
      color: $color-orange;
    }
  }
}

.shipment-in-card {
  color: $color-white;
  align-content: center;
  font-size: x-small;
  padding: .4em;
  border: 1px solid $color-blue;
  border-radius: 10px;
  background-color: rgba(0, 128, 0, 0.34);
}
