@use '@angular/material' as mat;
@use 'node_modules/ontimize-web-ngx/theming/ontimize-style.scss' as ontimize-style;

/* Breakpoints definitions */

// Definición de las media queries como variables
$breakpoint-small: '(max-width: 599.98px)';
$breakpoint-medium: '(min-width: 600px) and (max-width: 959.98px)';
$breakpoint-large: '(min-width: 960px) and (max-width: 1279.98px)';
$breakpoint-xlarge: '(min-width: 1280px) and (max-width: 1919.98px)';
$breakpoint-xxlarge: '(min-width: 1920px)';

// Mixin para aplicar estilos según los breakpoints
@mixin respond-to($breakpoint) {
  @if $breakpoint ==small {
    @media #{$breakpoint-small} {
      @content;
    }
  }

  @else if $breakpoint ==medium {
    @media #{$breakpoint-medium} {
      @content;
    }
  }

  @else if $breakpoint ==large {
    @media #{$breakpoint-large} {
      @content;
    }
  }

  @else if $breakpoint ==xlarge {
    @media #{$breakpoint-xlarge} {
      @content;
    }
  }

  @else if $breakpoint ==xxlarge {
    @media #{$breakpoint-xxlarge} {
      @content;
    }
  }
}

/* Color definitions */
$mat-custom-primary: (
  50 : #f4e3e3,
  100 : #b9d1e4,
  200 : #8ab2d2,
  300 : #5b93c0,
  400 : #377bb3,
  500 : #1464a5,
  600 : #125c9d,
  700 : #0e5293,
  800 : #0b488a,
  900 : #063679,
  A100 : #a8c7ff,
  A200 : #75a7ff,
  A400 : #4286ff,
  A700 : #2876ff,
  contrast: (50 : #000000, 100 : #000000, 200 : #000000, 300 : #000000, 400 : #ffffff, 500 : #ffffff, 600 : #ffffff, 700 : #ffffff, 800 : #ffffff, 900 : #ffffff, A100 : #000000, A200 : #000000, A400 : #ffffff, A700 : #ffffff)
);

/* Color definitions */
$mat-custom-primary-dark: (
  50 : #f1f6fa,
  100 : #dce8f2,
  200 : #c5d9e9,
  300 : #adc9e0,
  400 : #9cbed9,
  500 : #8ab2d2,
  600 : #82abcd,
  700 : #77a2c7,
  800 : #6d99c1,
  900 : #5a8ab6,
  A100 : #ffffff,
  A200 : #ebf5ff,
  A400 : #b8dcff,
  A700 : #9ed0ff,
  contrast: (50 : #000000, 100 : #000000, 200 : #000000, 300 : #000000, 400 : #000000, 500 : #000000, 600 : #000000, 700 : #000000, 800 : #000000, 900 : #000000, A100 : #000000, A200 : #000000, A400 : #000000, A700 : #000000, )
);

// Define a theme.
$primary: mat.define-palette($mat-custom-primary);
$accent: $primary;
$primary-dark: mat.define-palette($mat-custom-primary-dark);
$accent-dark: $primary-dark;
$secondary-color: #ffffff;

/* Light theme */
$theme: ontimize-style.o-mat-light-theme($primary, $accent);

/* Dark theme */
$dark-theme: ontimize-style.o-mat-dark-theme($primary-dark, $accent-dark);


* {
  font-family: Arial, Helvetica, sans-serif !important;
  /* Establece la tipografía para todo el texto */
}

.o-app-header nav {
  background-color: #ffa366;
}


div .navMenu,
div .sidenav-toggle-container,
.o-app-sidenav-menuitem,
nav {
  background-color: #ffa366;
}

.mat-icon {
  font-family: 'Material Icons' !important;
}


.sidenav-toggle-container {
  .mat-icon {
    font-family: 'Material Icons' !important;
  }
}

// Menu hamburguesa
.mat-sidenav-content {
  background-color: #fff;

}

.navMenu {
  background-color: #ffa366;

}

// Cuadricula de juguetes
.o-grid {

  .div {
    position: relative;
  }
}

.o-grid .o-column {
  background-color: #ffffff;
  color: #333;
  font-family: Arial, sans-serif;
  // border: 0.125rem solid #ffa366;
  border-radius: .75rem;
  box-shadow: 0.1rem 0.1rem 0.15rem #ff5439;
  transition: transform .4s ease;

  &:hover {
    transform: scale(1.1);
  }

  .o-image {
    width: 16rem;
    height: 11rem;
    object-fit: contain;

    .o-image-content.o-image-auto-fit .o-image-display-container>img {
      border-radius: 10px;
    }
  }

  .h4 {
    margin: 0 0 .5rem 0;
  }
}

//==================================== CARD PRODUCT DESIGN ====================================

.card {
  position: relative;
  width: 95%;
  height: 95%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 10px;
  background-color: #ffa36614;
  color: #333;
  font-family: Arial, sans-serif;

  // border: 1px solid #ffa366;
  border-radius: .75rem;

  transition: all .2s ease;

  &:hover {
    // transform: translate(0, -10px);
    box-shadow: 0px 0px 5px 0px #fb6d09;

    .price {
      color: #fb6d09;
    }
  }

  > {
    .image-header {
      width: 100%;
      height: 85%;
      border-radius: .75rem;
      object-fit: cover;

    }
  }

  .card-distance {
    position: absolute;
    top: 12px;
    left: 12px;
    z-index: 10;
    background-color: #fff;
    border-radius: 0.75rem;
    padding: 10px;
    box-shadow: 0px 0px 5px 0px #5a5a5a;
  }


  .card-body {
    flex: 1 1 auto;
    padding: 1rem;
    justify-self: center;
    display: flex;
    justify-content: space-between;
    gap: 0.5rem;


    @include respond-to(small) {
      padding: 5px;
      flex-direction: column;
      justify-content: start;
    }

    @include respond-to(medium) {
      padding: 5px;
      flex-direction: column;
      justify-content: start;
    }

    @include respond-to(large) {
      padding: 5px;
      flex-direction: column;
      justify-content: start;
    }

    @include respond-to(xlarge) {
      padding: 5px;
      flex-direction: column;
      justify-content: start;
    }


    h4 {
      width: 70%;
      margin: 0;
      font-size: 1.1em;
      white-space: nowrap;
      overflow: hidden;

      @include respond-to(small) {
        width: 100%;
        font-size: 0.8em;
      }

      @include respond-to(medium) {
        width: 100%;
        font-size: 0.8em;
      }

      @include respond-to(large) {
        width: 100%;
        font-size: 1.05em;
      }

      @include respond-to(xlarge) {
        width: 100%;
        font-size: 1.05em;
      }

    }

    .price {
      margin: 0;
      font-size: 1.1rem;

      @include respond-to(small) {
        width: 100%;
        font-size: 0.8em;
      }

      @include respond-to(medium) {
        width: 100%;
        font-size: 0.8em;
      }

      @include respond-to(large) {
        width: 100%;
        font-size: 1.05em;
      }

      @include respond-to(xlarge) {
        width: 100%;
        font-size: 1.05em;
      }

    }


  }

}

//==================================== NEW BTN DESIGN ====================================
.button {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition-duration: .2s;
  min-width: 3rem;
  border-radius: .4rem;
  border: 2px solid;
  margin: .5rem .25rem;
  padding: .2rem 1rem;

  @include respond-to(small) {
    font-size: 0.8em;
    margin: 0;
    padding: 0.3rem;
  }

  //Categoria color
  &.btn-solid {
    border-color: #FFA366;
    color: #000;
    background-color: #FFA366;
    padding: .5rem 1.2rem !important;

    &:hover {
      box-shadow: 0 2px 4px #0000003d;
    }
  }

  &.btn-outline-dark {
    border-color: #fff;
    color: #fff;
    background-color: transparent;

    &:hover {
      color: #ff5349;
      background-color: #fff;
    }

    &.reverse {
      color: #ff5349;
      background-color: #fff;

    }
  }

  &.btn-outline-light {
    border-color: #ff5349;
    color: #ff5349;
    background-color: #fff;

    &:hover {
      color: #fff;
      background-color: #FFA366;
      border-color: #ffa366;
    }

    &.reverse {
      color: #fff;
      background-color: #FFA366;
      border-color: #ffa366;
    }
  }

  //Categoria contenido
  &.btn-icon {
    padding: 0.2rem 0.3rem;
  }

}

// ==================================== Login Form ====================================
.base {
  width: 100%;
  height: 100%;
  border-radius: 2rem;
  display: flex;

  .login {
    width: 50%;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin: 3rem;



    .login-title-container {
      padding-bottom: 1rem;

      .slogan {
        color: #ff5349;
      }
    }

    .register-title-container {
      text-align: center;

      .slogan {
        color: #ff5349;
      }
    }

    .form {
      width: 40%;

      @include respond-to(small) {
        width: 100%;
      }

      @include respond-to(medium) {
        width: 80%;
      }

      @include respond-to(large) {
        width: 80%;
      }

      @include respond-to(xlarge) {
        width: 60%;
      }
    }

    @include respond-to(small) {
      width: 100%;
    }

    @include respond-to(medium) {
      width: 100%;
    }

    @include respond-to(large) {
      width: 100%;
    }

    .form-register {
      width: 100%;
    }

  }

  .logo {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FFFDED;

    img {
      width: 75%;
    }

    @include respond-to(small) {
      display: none;
    }

    @include respond-to(medium) {
      display: none;
    }

    @include respond-to(large) {
      display: none;
    }
  }

  .close-modal {
    width: 2rem;
    height: 2rem;
    position: absolute;
    top: 1rem;
    right: 1rem;
    cursor: pointer;

    .btn-close {
      width: 2rem;
      height: 2rem;
      font-size: 2rem;
      color: #ff5349;
    }

  }

  .link {
    cursor: pointer;
    font-weight: 600;
    color: #ff5349;

    &:hover {
      text-decoration: underline;
    }
  }
}

// ==================================== SEARCH FILTERS ====================================

.searchFilters {
  display: flex;
  align-items: center;
  gap: 5px;
  margin-top: 5px;
  padding: 5px 0px;

  @include respond-to(small) {
    flex-direction: column;
    align-items: flex-start;
    padding: 10px 0px;
    gap: 10px;
  }

  @include respond-to(medium) {
    flex-direction: column;
    align-items: flex-start;
    padding: 10px 0px;
    gap: 10px;
  }


}

// ==================================== CHAT COMPONENT DESIGN ====================================
.chat-container {
  width: 25rem;
  height: 37.5rem;
  display: flex;
  flex-direction: column;
  background-color: #FFFDED;
  gap: 10px;

  // border: 1px solid black;
  border-radius: .75rem;  
  padding: 15px 10px;

  @include respond-to(small) {
    width: 18rem;
    border-radius: 0;
  }


  .chat-container-header {
    display: flex;
    align-items: center;
    width: 100%;
    background-color: #FFFDED;

    .jukids-logo {
      width: 70px;
      height: 70px;
      border-radius: .75rem;
      margin: 0px 10px;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: .75rem;
      }

    }

    .header-title-info {
      display: flex;
      flex-direction: column;
      // justify-content: center;
      // align-items: center;
      flex: 1 1 auto;
      gap: 5px;

      h4 {
        margin: 0px;
      }

      .price {
        font-size: 1.4em;
        font-weight: 600;
      }

    }
  }


  .chat-container-body {
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
    gap: 10px;
    overflow-y: auto;

    // border-top: 2px solid rgb(0, 0, 0);
    .chat-message-container-sender {
      width: 100%;
      // border: 1px solid green;
      border-radius: .75rem;

      .chat-message {
        display: flex;
        padding: 5px;

        .user-profile {
          width: 50px;
          height: 50px;
          display: flex;
          align-items: center;
          justify-content: center;
          background-color: blue;
          color: white;
          // aspect-ratio: 1 / 1;
          // width: 18%;
          border-radius: 50%;
          margin: 0px 5px;

          // @include respond-to(small) {
          //   width: 25%;
          // }
        }

        .message {
          width: 100%;
          display: flex;
          flex-direction: column;
          margin: auto 0px;
          padding: 10px;
          border-radius: .75rem;
          background-color: #E9E9E9;
          border: 1px solid #E9E9E9;
        }

      }

    }

    .chat-message-container-receiver {
      width: 100%;
      // border: 1px solid blue;
      // background-color: #49F18C;
      border-radius: .75rem;

      .chat-message {
        display: flex;
        flex-direction: row-reverse;
        justify-content: end;
        padding: 5px;
        // text-align: end;

        .user-profile {
          width: 50px;
          height: 50px;
          display: flex;
          align-items: center;
          justify-content: center;
          background-color: blue;
          color: white;
          // aspect-ratio: 1 / 1;
          // width: 18%;
          border-radius: 50%;
          margin: 0px 5px;

          // @include respond-to(small) {
          //   width: 25%;
          // }

        }

        .message {
          width: 100%;
          display: flex;
          flex-direction: column;
          margin: auto 0px;
          padding: 10px;
          border-radius: .75rem;
          background-color: #0E28D3;
          color: #fff;
          border: 1px solid #E9E9E9;
        }
      }

    }
  }

  .chat-container-footer {
    display: flex;
    align-items: center;
    // border: 1px solid yellowgreen;

    .chat-input {
      width: 100%;
      margin: 5px;
      padding: 10px;
      border: 2px solid #0E28D3;
      border-radius: .75rem;

      &:focus {
        outline: none;

      }

    }

    .chat-btn-send {
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: #0E28D3;
      padding: 5px;
      border: 1px solid #0E28D3;
      border-radius: 50%;
      margin: 5px;
      transition-duration: .2s;


      .send-icon {
        width: 28px;
        color: #FFFFFF;
      }

      &:hover {
        background-color: #FFFFFF;
        border: 1px solid #0E28D3;
        box-shadow: 0 2px 4px #0000003d;

        .send-icon {
          color: #0E28D3;
        }
      }
    }


  }


}

.close-modal {
  width: 2rem;
  height: 2rem;
  position: absolute;
  top: 1rem;
  right: 1rem;
  cursor: pointer;

  @include respond-to(small) {
    top: 0;
    right: 0;
    border-radius: 0;
  }

  .btn-close {
    width: 2rem;
    height: 2rem;
    font-size: 2rem;
    color: #ff5349;
  }

}





o-app-sidenav.o-app-sidenav .o-app-sidenav-container mat-sidenav.mat-drawer.o-app-sidenav-sidenav,
o-app-sidenav.o-app-sidenav.header-layout .o-app-sidenav-container mat-sidenav.mat-drawer.o-app-sidenav-sidenav {
  background: #ffa366;
}