
.register-container {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;

  .register-outer-container {
      width: 100%;
      height: 100%;
      display: flex;
      flex-wrap: wrap;
      align-items: stretch;
      overflow: auto;

      .register-bg-container {
        background-image: url('^assets/images/jukids_logo.webp');
        width: calc(100% - 640px);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        position: relative;
        z-index: 1;

        &::before {
            display: block;
            position: absolute;
            z-index: -1;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            background: rgba(0, 0, 0, .1);
            opacity: .8;
        }
      }

      .wrapp-login {
        width: 640px;
        min-height: 100%;
        background: linear-gradient(to right, #fffded, #ea883a);

        .title_text {
          margin-top: 64px;
          flex: auto;
          color: #ff5349;
          text-align: center;
          padding: 0rem;
          font-weight: 800;
        }

        .inputData {
          border-radius: 1.5rem;
          background-color: #fedac1;
          box-shadow: -3px 3px #ff5349;
          padding: 0 20px;
          margin: 50px;
          width: 25rem;
        }
      }

  }
}

@media (max-width: 450px) {
  .register-container .register-outer-container {

    .wrapp-login {
      width: 100%; // Cambiado de 640px a 100%
      min-height: 100%;

      .register-inner-container {
        background: linear-gradient(to right, #eae7db, #ea883a);

        .title_text {
          align-content: center;
        }

        .inputData {
          width: calc(100% - 40px);
          margin: 10px 20px;
        }
      }
    }
  }
}
