
<div class="register-container">
    <div class="register-outer-container">

        <div class="register-bg-container"></div>

        <div class="wrapp-login">
            <div fxFill fxLayout="column" fxLayoutAlign="center center" class="register-inner-container">

                <h1 class="title_text">{{ 'REGISTER' | oTranslate }}:</h1>
            

                <o-form class="register-form" attr="usersNew" service="registers" entity="register" keys="usr_id" header-actions="R;I;U;D" show-header="no" show-header-navigation="no">
                    <div fxLayout="column" fxLayoutGap="8px" class="form-container">
                        <o-text-input class="inputData" fxFlex="20" attr="usr_name" required="yes"></o-text-input>
                        <o-text-input class="inputData" fxFlex="20" attr="usr_surname" required="yes"></o-text-input>
                        <o-email-input class="inputData" attr="usr_login" label="Email" fxFlex="20" required="yes"></o-email-input>
                        <o-password-input class="inputData" fxFlex="20" attr="usr_password" label="password" required="yes" show-password-button="yes"></o-password-input>
                    </div>
                    <o-form-toolbar></o-form-toolbar>
                </o-form>
            </div>
        </div>
    </div>
</div>