<o-form attr="usersNew" service="registers" entity="register" keys="usr_id" show-header-navigation="no" header-actions="R;I;U;D">
    <div fxLayout="column" fxLayoutGap="8px">
        <o-text-input fxFlex="20" attr="usr_name" required="yes"></o-text-input>
        <o-text-input fxFlex="20" attr="usr_surname" required="yes"></o-text-input>
        <o-email-input attr="usr_email" label="Email" fxFlex="20" required="yes"></o-email-input>
        <o-password-input fxFlex="20" attr="usr_password" label="Password" required="yes" show-password-button="yes"></o-password-input>
    </div>
</o-form>
