<div class="chat-main-container">

    <div class="chats-container-area">

        <div class="chats-title">
            <div class="chats-header">
                <div (click)="goBack()" class="btn-back" >
                    <mat-icon>chevron_left</mat-icon>
                </div>
                <h4>Chats</h4>
            </div>
            <div class="btn-refresh" (click)="refreshChatList()">
                <mat-icon>refresh-button</mat-icon>
            </div>
        </div>

        <hr style="width: 100%; border: 0; border-top: 1px solid #dee2e6;" />

        <div class="chats-area">

            <o-list class="chats" #chatList service="chat" entity="getLoggedChatList"
                columns="toy_id;toyName;sellerId;customer_id;customername;sellername;msg;lastmessagedate"
                quick-filter="false" refresh-button="false" insert-button="false" delete-button="false"
                selectable="false" detail-button-in-row="false" detail-button-in-row-icon="chevron_right"
                detail-button-in-row="false" detail-button-in-row-icon="chevron_right" edit-button-in-row="false"
                edit-button-in-row-icon="edit" detail-mode="none" (onDataLoaded)="removeToolbar()">


                <ng-container *ngFor="let chat of chatList.dataArray; let i = index">

                    <div class="chat-room" (click)="selectChat(chat)" [ngStyle]="{
                            'pointer-events': isChatRoomSelected(chat) ? 'none' : 'auto',
                            'opacity': isChatRoomSelected(chat) ? 0.5 : 1,
                        }">
                        <div class="chat-prod-image">
                            <div class="product-image">
                                <img src="{{baseUrl}}/restapi/get-image?toyId={{chat.toy_id}}" alt="">
                            </div>
                        </div>
                        <div class="chat-info">
                            <div class="chat-info-data">
                                <div class="customer-name-and-date">
                                    <span>{{chat.customername}}</span>
                                    <span>{{chat.lastmessagedate | date: 'dd/MM/yyyy HH:mm' }}</span>
                                </div>
                                <span class="product-title">{{chat.toyName}}</span>
                                <span class="latest-message"> {{ 'MESSAGES' | oTranslate}} {{chat.msg}}</span>
                            </div>
                        </div>
                    </div>

                </ng-container>

            </o-list>

        </div>

    </div>


    <div class="chat-component-area">
        <div class="select-chat" *ngIf="!isChatSelected">
            <h2>{{ 'SELECT_CHAT' | oTranslate}}</h2>
        </div>
        <ng-container *ngIf="isChatSelected">
            <app-chat></app-chat>
        </ng-container>
    </div>

</div>
