.chat-main-container {
    height: 100%;
    display: flex;
    gap: 30px;
    padding: 0px 30px;

    .chats-container-area {
        display: flex;
        flex-direction: column;
        // border: 1px solid black;
        min-width: 20%;
        height: 100%;
        overflow: hidden;
        border-radius: .75rem;
        box-shadow: 0 2px 3px 0 rgba(0, 0, 0, .1);

        .chats-title {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 0px 10px;


            .chats-header {
                display: flex;
                align-items: center;
                gap: 10px;

                .btn-back {
                    display: flex;
                    color: white;
                    background-color: #D34C26;
                    padding: 5px;
                    // border: 1px solid;
                    border-radius: 50%;
                    cursor: pointer;
                    box-shadow: 0 2px 3px 0 rgba(0, 0, 0, .1);
                    transition-duration: .2s;

                    &:hover {
                        background-color: #fff;
                        color: #D34C26;
                    }
                }
            }

            .btn-refresh {
                display: flex;
                color: #3D7E71;
                padding: 5px;
                // border: 1px solid;
                border-radius: 50%;
                cursor: pointer;
                box-shadow: 0 2px 3px 0 rgba(0, 0, 0, .1);
                transition-duration: .2s;

                &:hover {
                    background-color: #3D7E71;
                    color: white;
                }
            }
        }

        .chats-area {
            flex: 1 1 auto;
            overflow-y: auto;

            .chats {
                display: flex;
                flex-direction: column;
                gap: 1rem;





                .chat-room {
                    display: flex;
                    gap: 10px;
                    align-items: center;
                    margin: 10px 5px;
                    padding: 2px 5px;
                    border-left: 5px solid #FFA366;
                    // background-color: #ffa3664d;
                    // border-radius: .75rem;
                    // border-bottom: 2px solid #FFA366;
                    cursor: pointer;
                    transition-duration: .2s;

                    &:hover {
                        background-color: #FFA366;
                    }


                    .chat-prod-image {
                        min-width: 20%;

                        .product-image {
                            width: 70px;
                            height: 70px;
                            border-radius: 0.75rem;
                            margin: 0px 10px;

                            img {
                                width: 100%;
                                height: 100%;
                                object-fit: cover;
                                border-radius: .75rem;
                            }
                        }
                    }


                    .chat-info {
                        display: flex;
                        width: 100%;
                        padding: 5px;

                        .chat-info-data {
                            display: flex;
                            flex-direction: column;
                            flex: 1 1 auto;
                            gap: 5px;
                            margin: 0px 5px;
                            color: rgba(77, 75, 75, 0.411);

                            .customer-name-and-date {
                                display: flex;
                                justify-content: space-between;
                                font-size: 0.8em;
                                font-weight: bold;
                            }

                            .product-title {
                                color: black;
                                font-weight: bold;
                            }

                            .latest-message {
                                font-size: 0.8em;
                                font-weight: bold;
                            }
                        }

                        .chat-info-date {
                            min-width: 10%;
                            font-size: 0.8em;
                            font-weight: bold;
                        }

                    }

                }
            }
        }





    }


    .select-chat {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        flex: 1 1 auto;
    }


    .chat-component-area {
        height: 100%;
        flex: 1 1 auto;
        border-radius: .75rem;
        box-shadow: 0 2px 3px 0 rgba(0, 0, 0, .1);

        // border: 1px solid chartreuse;

    }

    .chat-product-detail {
        display: flex;
        flex-direction: column;
        gap: 10px;
        // border: 1px solid blue;
        max-width: 25%;
        min-width: 25%;
        height: 100%;

        .product-detail {
            display: flex;
            flex-direction: column;

            height: 70%;
            border-radius: .75rem;
            box-shadow: 0 2px 3px 0 rgba(0, 0, 0, .1);
            // border: 1px solid seagreen;

            .product-title {
                padding-left: 10px;
            }

            .product-info {
                flex: 1 1 auto;

                display: flex;
                flex-direction: column;
                justify-content: space-around;

                .product-info-area {
                    min-height: 20%;

                    .product-date-and-status {
                        display: flex;
                        justify-content: flex-end;
                        align-items: center;
                        padding: 0px 10px;
                    }

                    .product-title-and-price {
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        padding: 0px 10px;
                    }

                }

                .map-container {
                    margin: 5px;
                    // border: 1px solid red;
                    border-radius: .75rem;
                    box-shadow: 0 2px 3px 0 rgba(0, 0, 0, .1);
                }
            }


        }

        .user-info {
            display: flex;
            flex-direction: column;
            flex: 1 1 auto;
            // border: 1px solid red;
            border-radius: .75rem;
            box-shadow: 0 2px 3px 0 rgba(0, 0, 0, .1);

            .user-info-title {
                padding-left: 10px;
            }

            .user-info-detail {
                display: flex;
                flex-direction: column;
                justify-content: center;

                flex: 1 1 auto;
                // border: 1px solid red;
                margin: 10px;
                border-radius: .75rem;

                .user-info-card {
                    display: flex;
                    // flex-direction: column;
                    gap: 10px;

                    .user-info-image {
                        height: 100%;
                        width: 30%;
                        border-radius: 50%;
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        padding: 0px 10px;


                        img {
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                        }
                    }

                    .user-info-data {
                        display: flex;
                        flex-direction: column;
                        gap: 10px;
                        justify-content: center;
                        flex: 1 1 auto;
                        padding: 0px 10px;

                        .user-info-name {
                            font-weight: bold;
                            font-size: 1.5em;
                        }

                        .user-info-rating {
                            display: flex;
                            flex-direction: column;
                            gap: 5px;
                            // align-items: center;
                            // font-weight: bold;
                            font-size: 1em;
                            // padding: 0px 10px;

                            .rating-container {
                                display: flex;
                                align-items: center;

                                .rating-icon {
                                    margin-right: 5px;
                                    color: #FFA366;
                                }


                                .rating {
                                    display: flex;
                                    align-items: center;
                                    font-size: 1.2em;
                                    font-weight: 600;


                                }
                            }
                        }
                    }


                }
            }
        }
    }





}